<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/mung_footer.css">
</head>
<footer>   
    <div class="footer_content">
        <div class="footer_text">
                <div class="footer_text_div1">
            	<ul>
	                <li>대표자 : 멍멍탐험대  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Tel. 010-1111-2222</li>
	                <li>서울특별시 영등포구 선유동2로 57 이레빌딩(구관) 19F</li>
	                <li>Copyright ⓒ 1998-2023 mungmung exploration</li>
            	</ul>
                </div>
                <div class="footer_textlink">
                	<a href="http://gwd.go.kr/" target="_blank">
                	<span>강원특별자치도청</span>  ㅣ </a>
            		<a href="https://www.gangwon.to/gwtour" target="_blank">
            		<span>강원관광</span>  ㅣ  </a>
            		<a href="http://www.gwto.or.kr/" target="_blank">
            		<span>강원관광재단</span></a>
                </div>
        </div>
        <div class="footer_logo">
            <div class="footer_logo_wrap">
                <a href="/">
                    <span>강원도<span>멍멍</span> 탐험대</span>
                </a>
                <a href="http://www.gwto.or.kr/" target="_blank"><img src="../img/main/footer_logo.png" style="padding-left: 580px;"></a>
            </div>
        </div>
    </div>
</footer>
</html>