<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/mung_footer.css">
</head>
<footer>   
    <div class="footer_content">
        <div class="footer_text">
            <ul>
                <li>대표자: 000 <span> Tel. 010-1111-2222</span></li>
                <li>서울특별시 영등포구 선유동2로57 이레빌딩(구관)19F</li>
                <li>Copyright ⓒ 1998-2023 mungmung exploration</li>
            </ul>
        </div>
        <div class="footer_logo">
            <a href="/"><span>강원 멍멍 탐험대</span></a>
        </div>
    </div>
</footer>
</html>