<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멍 헤더 </title>
    <script src="../js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/mung_header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>
<body>
    <div class="header-wrap"><!--전체를 감싸는 div-->
<!-- 로고 영역 headerTop -->
        <div class="header-top">
            <div class="logo">
                <a href="/"><span>강원도 멍멍 탐험대</span></a>
            </div>
            <div class="signin">
                <a href="#"><button type="button" name="signin" class="btn">회원가입</button></a>
            </div>
            <div class="login">
                <a href="member/login"><button type="button" name="login" class="btn">로그인</button></a>
            </div>
        </div>
<!--메뉴 navi탭 영역-->
        <div class="navi">
            <ul>
                <li>
                    <a href=#>멍멍 여행지</a>
                    <ul class="sub">
                        <li><a href="/facility/tourList">멍멍 관광지</a></li>
                        <li> <a href="#">멍멍 숙박</a></li>
                        <li><a href="#">멍멍 식음료</a></li>
                        <li><a href="#">멍멍 체험</a></li>
                    </ul>
                </li>
                <li><a href="/product/list">멍멍 패키지</a></li>
                <li><a href="board/list">멍멍 커뮤니티</a></li>
                <li><a href="notice/list?reqPage=1">멍멍 공지사항</a></li>
                <li><a href=#>멍멍 Q&A</a></li>
            </ul>
        </div>
    </div>




    <script src="../js/mung_header.js"></script>
</body>
</html>