<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>일정선택 & 결제</title>
<link rel="stylesheet" href="/static/css/default.css">
<script src="/static/js/jquery-3.6.0.js"></script>
</head>
<body>
    <th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
            <h1>일정선택 및 결제</h1>
        </div>
        <div class="page-content-top"></div>
        <div class="page-content-mid"></div>
        <div class="page-content-bottom"></div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
</body>
</html>