<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제하기</title>
<link rel="stylesheet" href="../css/mung_header.css">
<script src="../js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
            <h1>예약 및 결제</h1>
        </div>
        <div class="page-content-top"></div>
        <div class="page-content-mid">
            <div class="pay-content-wrap">
                <div class="product-box">
                    <div class="pay-img-box">
                        <img th:src="${p.productFilepath}">
                    </div>
                    <div class="pay-name-box">
                        <h3 th:text="${p.productName}"></h3>
                    </div>
                </div>
                <div class="pay-box">
                    <table class="pay-box-tbl">
                        <tr>
                            <th class="pay-box-tbl-th">일정 예약</th>
                            <td class="pay-box-tbl-td">
                                <div>
                                    <span class="material-icons pay-pointer">forward</span>
                                    <input type="text" name="daterange" value="">
                                    <input type="hidden" name="productStart" th:value="${p.productStart}">
                                    <input type="hidden" name="productEnd" th:value="${p.productEnd}">
                                    <input type="hidden" name="productDay" th:value="${p.productDay}-1">                                    
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="pay-box-tbl-th">결제 금액</th>
                            <td class="pay-box-tbl-td">                         
                                <span class="pay-box-price" th:text="${#numbers.formatInteger(p.productPrice,3,'COMMA')} + '원'"></span>
                            </td>
                            <input type="hidden" name="payPrice" id="payPrice" th:value="${p.productPrice}">
                            <input type="hidden" name="payProductNo" id="payProductNo" th:value="${p.productNo}">
                            <input type="hidden" name="payMemberNo" id="payMemberNo" th:value="${session.m.memberNo}">
                            <input type="hidden" name="payMemberName" id="payMemberName" th:value="${session.m.memberName}">
                            <input type="hidden" name="payMemberEmail" id="payMemberEmail" th:value="${session.m.memberEmail}">
                            <input type="hidden" name="payMemberPhone" id="payMemberPhone" th:value="${session.m.memberPhone}">
                        </tr>
                        <tr>
                            <th colspan="2" class="pay-box-tbl-th">
                                <button id="payBtn" class="btn bc1">결제하기</button>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-content-bottom"></div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="../js/pay.js"></script>
</body>
</html>