<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제하기</title>
<link rel="stylesheet" href="../css/mung_header.css">
<script src="../js/jquery-3.6.0.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
</head>
<body>
    <th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
            <h1>예약 및 결제</h1>
        </div>
        <div class="page-content-top"></div>
        <div class="page-content-mid">
            <div class="pay-content-wrap">
                <div class="product-box">
                    <div class="pay-img-box">
                        <img src="../img/pay_test_img.png">
                    </div>
                    <div class="pay-name-box">
                        <h3>패키지상품1</h3>
                    </div>
                </div>
                <div class="pay-box">
                    <table class="pay-box-tbl">
                        <tr>
                            <th class="pay-box-tbl-th">일정 예약</th>
                            <td class="pay-box-tbl-td">
                                <input type="text" name="daterange" value=""/>
                                <input type="hidden" name="productStart" value="2023-08-28">   <!-- th:value로 시작일 입력 -->
                                <input type="hidden" name="productEnd" value="2023-09-15">   <!-- th:value로 종료일 입력 -->
                                <input type="hidden" name="productDay" value="2">   <!-- th:value로 기간 입력 -->
                            </td>
                        </tr>
                        <tr>
                            <th class="pay-box-tbl-th">결제 금액</th>
                            <td class="pay-box-tbl-td">                                
                                <span>1,000</span>  <!-- th:text로 상품가격 입력 -->
                                <span>원</span>
                            </td>
                            <input type="hidden" name="price" id="price" value="1000">   <!-- th:value로 상품가격 입력 -->
                        </tr>
                        <tr>
                            <th colspan="2" class="pay-box-tbl-th">
                                <button id="payBtn" class="btn bc1">결제하기</button>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="page-content-bottom"></div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="../js/pay.js"></script>
</body>
</html>