<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>멍멍 패키지 </title>
<link rel="stylesheet" href="../css/mung_productlist.css">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
	<!-- 전체를 감싸는 div  -->

        	<div class="product-content">
        <div class="page-title">
        	<h1>멍멍 패키지</h1>
        </div>
            	<!-- 관리자용 패키지 등록 버튼 -->
            	<div class="admin_insert">
                	<a th:if="${session.m != null && session.m.memberLevel ==1 }" href="/product/writeFrm"><button type="button">패키지 등록하기</button></a>
           		</div>
            	<!-- 패키지 리스트 -->
				<div class="page-content-mid">
					<ul class="mid-list-wrap">
						<li th:each="product : ${productList}" class="mid-list" th:if="${product.productStock > 0}">
                     		<a th:href="@{/product/view(productNo=${product.productNo})}">
                        		<div class="list-img-box">
                            		<img th:src="'/productmain/'+${product.productFilepath}">
                        		</div>
                        		<div class="list-text-box">
                            		<h3 th:text="${product.productName}"></h3>
                            	</div>
                     		</a>
                 		</li>
                 		<li th:each="product : ${productList}" class="mid-list" th:if="${product.productStock == 0}">
                     		<a th:href="@{/product/view(productNo=${product.productNo})}" style="background-color: lightgray; opacity: 0.3;">
                        		<div class="list-img-box">
                            		<img src="../img/product-list/품절.png">
                        		</div>
                        		<div class="list-text-box">
                            		<h3 th:text="${product.productName}"></h3>
                            	</div>
                     		</a>
                 		</li>
					</ul>
				</div>
				<div class="page-content-bottom">
            <div id="pageNavi" th:utext="${pageNavi}"></div>
        </div>
			</div>
	
	<th:block th:include="common/mung_footer"></th:block>
</body>
</html>