<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>멍멍 패키지 </title>
<link rel="stylesheet" href="../css/mung_productlist.css">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
	<!-- 전체를 감싸는 div  -->
	    <div class="productlist-wrap">
        	<div class="product-top">
            	<h1>테스트 입니다다다다다</h1>
            	<img src="../img/main/댕댕이 헤엄.jpg">
        	</div>
        	<div class="product-content">
            	<!-- 관리자용 패키지 등록 버튼 -->
            	<div class="admin_insert">
                	<a th:if="${session.m != null && session.m.memberLevel ==1 }" href="/product/writeFrm"><button type="button">패키지 등록하기</button></a>
           		</div>
            	<!-- 패키지 리스트 -->
				<div class="productlist">
					<ul th:each="product : ${productList}">
						<li class="product">
                     		<a th:href="@{/product/view(productNo=${product.productNo})}">
                        		<div class="img-box">
                            		<img th:src="'/productmain/'+${product.productFilepath}"><!-- 이미지크기는 250*250 -->
                            		<h3 th:text="${product.productName}"></h3>
                        		</div>
                     		</a>
                 		</li>
					</ul>
				</div>
			</div>
		</div>
	
	<th:block th:include="common/mung_footer"></th:block>
</body>
</html>