<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티 리스트</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../css/default.css">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
	<div class="page-content">
		<div class="page-title">
			<h1>커뮤니티</h1>
		</div>
		<div class="page-content-top">
		<a href="/board/writeFrm" th:if="${session.m != null}">글쓰기</a>
            <form action="/board/searchBoardList" method="get" id="formsearch">
	            <input type="hidden" name="reqPage" id="reqPage">
	            <select name="searchType">
	                <option value="title">제목</option>
	                <option value="writer">작성자</option>
	                <option value="content">내용</option>
	            </select>
            <input type="text" name="searchName" id="sch1" placeholder="검색어를 입력해주세요.">
            <button id="searchBtn" class="btn bc1">검색</button>
            </form>
        </div>
         <div class="page-content-mid">
		<table class="boardWrapper posting-wrap">
			 <tr>
                <th>번호</th>
                <th>대표사진</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>등록일</th>
            </tr>
           	<tr th:each="board : ${boardList}" id="trview" style="cursor: pointer;">
                <td th:text="${board.boardNo}" id="boardNo"></td>
                <td><img th:src="'/boardmain/'+${board.boardFilepath}" style="width: 200px; height: 200px"></td>
                <td th:text="${board.boardTitle}"></td>
                <td th:text="${board.memberId}"></td>
                <td th:text="${board.boardReadCount}"></td>
                <td th:text="${board.boardWriteDate}"></td>
           	</tr>	
		</table>
		</div>
		 <div class="page-content-bottom">
            <div id="pageNavi" th:utext="${pageNavi}"></div>
        </div>
	</div>
	<th:block th:include="common/mung_footer"></th:block>
	<script>
	
	$("#trview").click(function(){
		const boardNo = $(this).find("td:first-child").text();
		console.log(boardNo);
		$(location).attr("href", "/board/view?boardNo="+boardNo);
	})

	/*
		$("#more-btn").on("click",function(){
			const start =$(this).val();
			const amount =4;
			const end = Number(start)+amount-1;
			$.ajax({
				url : "/board/more",
				type : "post",
				data : {start:start,end:end},
				success : function(data){
					for(let i=0;i<data.length;i++){
						const board = data[i];					
						const div = $("<table>");
						div.addClass("posting-item");	
						
						const imgDiv = $("<div>");
						imgDiv.addClass("posting-img");
						
						const atab = $("<a>");
						atab.attr("href","/board/view?boardNo="+board.boardNo);
						
						const img = $("<img>");
						img.attr("src","/boardmain/"+board.boardFilepath);
						atab.append(img);
						imgDiv.append(atab);
						
						const contentDiv = $("<div>");
						contentDiv.addClass("posting-contentDiv");
						
						const title =$("<p>");
						title.text(board.boardTitle);
						contentDiv.append(title);
		
						div.append(imgDiv).append(contentDiv);
						$(".boardWrapper").append(div);
					
					}
					const currentVal =Number($("#more-btn").val());
					$("#more-btn").val(currentVal+amount);
					const currentCount = Number($("#more-btn").attr("currentCount"));
					const changeCount = currentCount+data.length;
					$("#more-btn").attr("currentCount",changeCount);	
					const totalCount = Number($("#more-btn").attr("totalCount"));
					if(totalCount == changeCount){
						$("#more-btn").remove();
					}		
				}		
			})
		});
		
		
		$("#more-btn").click();
		
	*/	
		$("#searchBtn").on("click",function(){
			$("#reqPage").val(1);
			if($("#sch1").val()==""){
			      alert("검색어를 입력해주세요.");
			      return false;
			   }
		});
	</script>
</body>
</html>