<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티 작성</title>
<link rel="stylesheet" href="../css/noticeList.css">


</head>
<body>
<th:block th:include="common/mung_header"></th:block>
<script src="/summernote/summernote-lite.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
<link rel="stylesheet" href="/summernote/summernote-lite.css">
		<div class="color-head">
			<h1>커뮤니티</h1>
		</div>
    <div class="page-content">
		<div class="page-content-mid">
        <form action="/board/write" method="post" enctype="multipart/form-data">
            <table class="insert-table">
                <tr>
                    <th>제목</th>
                    <td colspan="3">
                        <input type="text" name="boardTitle" id="boardTitle" class="input-form">
                    </td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>	
                    	<input type="text" name="boardWriterview" th:value="${session.m.memberId}" class="input-form" disabled>
                    	<input type="hidden" name="boardWriter" th:value="${session.m.memberNo}">
                    </td>
                    <th>대표사진</th>
                    <td>
                    <input type="file" name="imageFile" accept=".jpg,.png,.jpeg" id="boardFile">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea id="boardContent" name="boardContent"></textarea>
                    </td>
                </tr>
            </table>
  			<div class="btn1" style="padding: 20px">
            	<button type="submit" class="btn bc1 " id="writeBtn">작성완료</button>
            </div>
        </form>
        </div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
    <script>
    $("#boardContent").summernote({
		height : 500,
		lang :"ko-KR",
		callbacks :{
			onImageUpload : function(files){
				uploadImage(files[0],this);
			}
		}
	});
	function uploadImage(file,editor){
		const form = new FormData()
		
		form.append("file",file);
		$.ajax({
			url : "/board/editor",
			type : "post",
			data : form,
			processData : false,
			contentType : false,
			success : function(data){
				$(editor).summernote("insertImage",data);			
			}
		});
	}
	
	
	$("#writeBtn").on("click",function(){
		if($("#boardTitle").val()==""){
		      alert("제목을 입력해주세요.");
		      return false;
		   }
		if($("#boardFile").val()==""){
		      alert("대표사진을 넣어주세요.");
		      return false;
		   }
		if($("#boardContent").val()==""){
		      alert("내용을 입력해주세요.");
		      return false;
		   }
	});

    </script>    
</body>
</html>