<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티 리스트</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../css/noticeList.css">


</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
	<div class="page-content">
    	<div class="page-title">
        	<h1>멍멍 커뮤니티</h1>
        </div>  
		<div class="page-content-top">
			<div>
				<a href="/board/writeFrm" th:if="${session.m != null}" class="btn bc1">글쓰기</a>
			</div>
			<div>
	            <form action="/board/searchBoardList" method="get" id="formsearch">
		            <input type="hidden" name="reqPage" id="reqPage">
		            <select name="searchType" class="sel-search">
		                <option value="title">제목</option>
		                <option value="writer">작성자</option>
		                <option value="content">내용</option>
		            </select>
	            <input type="text" class="input-form1" name="searchName" id="sch1" placeholder="검색어를 입력하세요.">
	            <button id="searchBtn" class="btn bc1">검색</button>
	            </form>
            </div>
        </div>
       <div class="page-content-mid">
	   		<ul class="mid-list-wrap">
					<li class="mid-list" th:each="board : ${boardList}" style="height: 380px">
	                     <a th:href="@{/board/view(boardNo=${board.boardNo})}">
	                        <div class="list-img-box">
	                            <img th:src="'/boardmain/'+${board.boardFilepath}" style="width: 250px; height: 250px">
	                        </div>
	                        <div class="list-text-box">
	                        	<ul>
	                        	<li >
	                            <h3 th:text="${board.boardTitle}"></h3>
	                            <span th:text="${board.memberId}"></span>
	                            <span>|</span>
	                            <span th:text="${board.boardWriteDate}" style="color: #aaa"></span>
	                            </li>
	                            </ul>
	                        </div>
	                     </a>
	                 </li>
				</ul>
		</div>
		 <div class="page-content-bottom">
            <div id="pageNavi" th:utext="${pageNavi}"></div>
        </div>
	</div>
	<th:block th:include="common/mung_footer"></th:block>
	<script>	
		$("#searchBtn").on("click",function(){
			$("#reqPage").val(1);
			if($("#sch1").val()==""){
			      alert("검색어를 입력하세요.");
			      return false;
			   }
		});
	</script>
</body>
</html>