<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티 상세보기</title>
<link rel="stylesheet" href="../css/noticeList.css">


<script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<th:block th:include="common/mung_header"></th:block>
        <div class="color-head">
			<h1>커뮤니티</h1>
		</div>
    <div class="page-content">
        <button onclick = "imgAlert()"> Image Alert </button>
        <div class="page-content-mid">
        <table class="insert-table">
            <tr>
            	<th>제목</th>
                <td colspan="5" th:text="${b.boardTitle}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${b.memberId}"></td>
                 <th>작성일</th>
                <td th:text="${b.boardWriteDate}"></td>
                 <th>조회수</th>
                <td style="width: 10%" th:text="${b.boardReadCount}"></td>
            </tr>
            <tr>
            	<td colspan="6">
					<div class="boardContent" th:utext="${b.boardContent}"></div>
				</td>
            </tr>
        </table>
        </div>
        <div class="btn1" style="height: 70px">
        	<a href="/board/list?reqPage=1" class="btn bc1" style="float: right;">목록</a>
        </div>
        
        <div class="btn1" style="height: 70px" th:if="${session.m != null && session.m.memberNo == b.boardWriter}">
	        <a th:href="@{/board/updateFrm(boardNo=${b.boardNo})}" class="btn bc1">수정하기</a>
	        <a th:href="@{/board/delete(boardNo=${b.boardNo})}" onClick="alert('게시글을 삭제하시겠습니까?')" class="btn bc1">삭제하기</a>
		</div>
		
		<!-- 댓글입력 -->
		<div style="border-bottom: 5px solid #ccc;">
			<h3><img src="../img/board/icon-dog.png" style="width: 50px;">의견을 남겨주세요.</h3>
		</div>
		<div class="inputCommentBox" th:if="${session.m != null}">
			<form action="/board/insertComment" method="post">
				<ul>
				<li>
					<img src="../img/board/icon-speech.png" style="width: 70px;">
				</li>
				<li>
					<input type="hidden" name="boardCommentWriter" th:value="${session.m.memberNo}">
					<input type="hidden" name="boardNo" th:value="${b.boardNo}">
					<textarea name="boardCommentContent"  class="input-form" id="boardCommentContent"></textarea>
				</li>
				<li style="margin-left: 50px; margin-top: 20px;">						
					<button type="submit" class="btn bc1" id="commentBtn">등록</button>
				</li>
				</ul>					
			</form>
		</div>
		
		<!-- 댓글보기 -->
		<div class="commentBox">
			<th:block th:each="cl : ${commentList}">
				<ul class="posting-comment">
					<li>
						<img src="../img/board/icon-comment.png" style="width: 50px;">
					</li>
					<li>
						<p class="comment-info">		
							<span th:text="${cl.memberId}"></span>				
							<span th:text="${cl.boardCommentWriteDate}"></span>
						</p>
						<p class="comment-content" th:text="${cl.boardCommentContent}"></p>
						<textarea name="boardCommentContent" class="input-form" 
									style="min-height:96px;display:none;" 
									th:text="${cl.boardCommentContent}"></textarea>
						<p class="comment-link"> 
							<th:block th:if="${session.m!=null}">
								<th:block th:if="${session.m.memberId==cl.memberId}">
									<a href="javascript:void(0);" th:onclick="updateComment(this,[[${cl.boardCommentNo}]],[[${b.boardNo}]])">수정</a>
									<a href="javascript:void(0);" th:onclick="deleteComment(this,[[${cl.boardCommentNo}]],[[${b.boardNo}]])">삭제</a>
								</th:block>
								<a href="javascript:void(0);" class="reCommentShow">답글달기</a>
							</th:block>
						</p>
					</li>
					</ul>
				<!-- 대댓글 보기 -->
				<th:block th:each="rcl : ${reCommentList}">
					<ul class="posting-comment reply" th:if="${cl.boardCommentNo == rcl.boardCommentRefNo}">
						<li>
							<img src="../img/board/icon-right.png" style="width: 50px;">
							<img src="../img/board/icon-comment.png" style="width: 50px;">
						</li>
						<li>
							<p class="comment-info">
								<span th:text="${rcl.memberId}"></span>				
								<span th:text="${rcl.boardCommentWriteDate}"></span>
							</p>
							<p class="comment-content" th:text="${rcl.boardCommentContent}"></p>
							<textarea name="boardCommentContent" class="input-form" 
									style="min-height:96px;display:none;" 
									th:text="${rcl.boardCommentContent}"></textarea>
							<p class="comment-link">
							<th:block th:if="${session.m!=null}">
								<th:block th:if="${session.m.memberId==rcl.memberId}">
									<a href="javascript:void(0);" th:onclick="updateComment(this,[[${rcl.boardCommentNo}]],[[${b.boardNo}]])">수정</a>
									<a href="javascript:void(0);" th:onclick="deleteComment(this,[[${rcl.boardCommentNo}]],[[${b.boardNo}]])">삭제</a>
								</th:block>
							</th:block>
						</p>
						</li>
					</ul>
				</th:block>
				
				<!-- 대댓글 작성 -->
				<div class="inputCommentBox inputReCommentBox" th:if="${session.m != null}" style="display: none;">
					<form action="/board/insertComment" method="post">
						<ul>
							<li>
								<img src="../img/board/icon-right.png" style="width: 50px;">
							</li>
						<li>
							<input type="hidden" name="boardCommentWriter" th:value="${session.m.memberNo}">
							<input type="hidden" name="boardNo" th:value="${b.boardNo}">
							<input type="hidden" name="boardCommentRefNo" th:value="${cl.boardCommentNo}">
							<textarea name="boardCommentContent" class="input-form"  id="boardReCommentContent" ></textarea>
						</li>
						<li style="margin-left: 50px; margin-top: 20px;">
							<button type="submit" class="btn bc1" id="reCommentBtn">등록</button>			
						</li>	
						</ul>
					</form>
				</div>
			</th:block>
		</div>
    </div>
<th:block th:include="common/mung_footer"></th:block>
<style>
.comment-info{
	display:flex;
}

</style>
<script>
	//대댓글 보이기
	$(".reCommentShow").on("click",function(){
		const index = $(".reCommentShow").index(this);
		if($(this).text()=="답글달기"){
			$(this).text("취소");
		}else{
			$(this).text("답글달기");
		}
			$(".inputReCommentBox").eq(index).toggle();
			$(".inputReCommentBox").eq(index).find("textarea").focus();
		
	});
	//댓글 수정
	function updateComment(obj,boardCommentNo,boardNo){
		$(obj).parent().prev().prev().hide();
		$(obj).parent().prev().show();	
		
		$(obj).text("수정완료");
		$(obj).attr("onclick","completeComment(this,"+boardCommentNo+","+boardNo+")");
		
		$(obj).next().text("수정취소");
		$(obj).next().attr("onclick","cancelComment(this,"+boardCommentNo+","+boardNo+")");
		
		$(obj).next().next().hide();
	}
	//댓글 수정 취소
	function cancelComment(obj,boardCommentNo,boardNo){
		$(obj).parent().prev().prev().show();
		$(obj).parent().prev().hide();
		$(obj).prev().text("수정");
		$(obj).prev().attr("onclick","updateComment(this,"+boardCommentNo+","+boardNo+")");
		$(obj).text("삭제");
		$(obj).attr("onclick","deleteComment(this,"+boardCommentNo+","+boardNo+")");
		$(obj).next().show();
	}
	//댓글수정하기
	function completeComment(obj,boardCommentNo,boardNo){
		const form = $("<form style='display:none' action='/board/updateCommnet' method='post'>");
		const commentNoInput = $("<input type = 'text' name='boardCommentNo'>");
		commentNoInput.val(boardCommentNo);
		const boardNoInput = $("<input type='text' name='boardNo'>");
		boardNoInput.val(boardNo);
		const textArea = $(obj).parent().prev().clone();
		form.append(commentNoInput).append(boardNoInput).append(textArea);
		$("body").append(form);
		form.submit();
	}
	//댓글 삭제
	function deleteComment(obj,boardCommentNo,boardNo){
		if(confirm("댓글을 삭제하시겠습니까?")){
			location.href="/board/deleteComment?boardCommentNo="+boardCommentNo+"&boardNo="+boardNo;
		}
	}
	
	//댓글 입력값 없을때 
	$("#commentBtn").on("click",function(){
		if($("#boardCommentContent").val()==""){
		      alert("댓글을 입력해주세요.");
		      return false;
		}
	});
	
	$("#reCommentBtn").on("click",function(){
		if($("#boardReCommentContent").val()==""){
		      alert("대댓글을 입력해주세요.");
		      return false;
		}
	});
	
	
	
	 function imgAlert(){
         Swal.fire({
         title: '도토리',
         text: '우리 강아지가 최고다.',
         imageUrl: 'https://img.icons8.com/?size=512&id=38925&format=png',
         imageWidth: 400,
         imageHeight: 400,
         imageAlt: 'Custom image',
         })
     }
</script>
</body>
</html>