<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티 상세보기</title>
<link rel="stylesheet" href="../css/default.css">
</head>
<body>
<th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">커뮤니티 상세보기</div>
        <table>
            <tr>
            	<th>제목</th>
                <td th:text="${b.boardTitle}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${b.memberId}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${b.boardWriteDate}"></td>
            </tr>
             <tr>
                <th>조회수</th>
                <td th:text="${b.boardReadCount}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
					<div class="boardContent" th:utext="${b.boardContent}"></div>
				</td>
            </tr>
        </table>
        <div class="btn1" th:if="${session.m != null}">
	        <a th:href="@{/board/delete(boardNo=${b.boardNo})}">삭제하기</a>
	        <a th:href="@{/board/updateFrm(boardNo=${b.boardNo})}">수정하기</a>
		</div>
		<!-- 댓글입력 -->
		<div class="inputCommentBox" th:if="${session.m != null}">
			<form action="/board/insertComment" method="post">
				<ul>
					<li>
						<span class="material-icons">댓글</span>
					</li>
					<li>
						<input type="hidden" name="boardCommentWriter" th:value="${session.m.memberNo}">
						<input type="hidden" name="boardNo" th:value="${b.boardNo}">
						<textarea name="boardCommentContent" class="input-form"></textarea>
					</li>
					<li>
						<button type="submit" class="btn bc1 bs4">등록</button>
					</li>
				</ul>
			</form>
		</div>
		<!-- 댓글보기 -->
		<div>
			<th:block th:each="cl : ${commentList}">
				<ul>
					<li>
						<p>		
							<span th:text="${cl.memberId}"></span>				
							<span th:text="${cl.boardCommentWriteDate}"></span>
						</p>
							<p th:text="${cl.boardCommentContent}"></p>
						<p>
							<th:block th:if="${session.m!=null}">
								<th:block th:if="${session.m.memberId==cl.memberId}">
									<a href="#">수정</a>
									<a href="#">삭제</a>
								</th:block>
								<a href="#">답글달기</a>
							</th:block>
						</p>
					</li>
				</ul>
			</th:block>
		</div>
    </div>
<th:block th:include="common/mung_footer"></th:block>
</body>
</html>