<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 작성</title>
<script src="/js/jquery-3.6.0.js"></script>
<link rel="stylesheet" href="../css/default.css">
</head>
<body>
    <script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	
	<th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">공지사항 작성</div>
        <form action="/notice/write" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" name="noticeTitle">
                    </td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>
                       
                        <input  type="hidden" name="memberId">
                    </td>
                </tr>
                <tr>
                    <td>
                    	<input style="display: none;" type="file" name="upfile" multiple>
                        <textarea id="noticeContent" name="noticeContent"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">작성완료</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
    <script>
    $("#noticeContent").summernote({
		height : 400,
		lang :"ko-KR",
		callbacks :{
			onImageUpload : function(files){
				uploadImage(files[0],this);
			}
		}
	});
	function uploadImage(file,editor){
		const form = new FormData();
		
		form.append("file",file);
		$.ajax({
			url : "/notice/editor",
			type : "post",
			data : form,
			processData : false,
			contentType : false,
			success : function(data){
				$(editor).summernote("insertImage",data);			
			}
		});
	}
    </script>    
</body>
</html>