<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 상세보기</title>
</head>
<body>
    <div class="page-content">
        <div class="page-title">공지사항 상세보기</div>
        <table>
            <tr>
                <th th:text="${n.noticeTitle}"></th>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${n.memberId}"></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td th:text="${n.noticeWriteDate}"></td>
            </tr>
             <tr>
                <th>조회수</th>
                <td th:text="${n.noticeReadCount}"></td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                <div th:text="${n.noticeContent}"></div>
                </td>
            </tr>
        </table>
        <a href="/notice/delete">삭제하기</a>
        <a href="/notice/update">수정하기</a>

        <div>이전글</div>
        <div>다음글</div>
    </div>
</body>
</html>