<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 수정</title>
<script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
    <div class="page-content">
        <div class="page-title">공지사항 수정</div>
        <form action="/notice/update" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" name="noticeTitle" th:value="${n.noticeTitle}">
                    </td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>
                        <input type="hidden" name="noticeNo" th:value="${n.noticeNo}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="display: none;" type="file" name="upfile" multiple>
                        <div id="noticeContent" name="noticeContent" th:utext="${n.noticeContent}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">수정완료</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
     <script>
    $("#noticeContent").summernote({
		height : 400,
		lang :"ko-KR",
		callbacks :{
			onImageUpload : function(files){
				uploadImage(files[0],this);
			}
		}
	});
	function uploadImage(file,editor){
		const form = new FormData()
		
		form.append("file",file);

		$.ajax({
			url : "/notice/editor",
			type : "post",
			data : form,
			processData : false,
			contentType : false,
			success : function(data){
				$(editor).summernote("insertImage",data);			
			}
		});
	}
    </script>    
</body>
</html>