<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자페이지</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <th:block th:include="common/mung_header"></th:block>
<div class="color-head">
	<h1>관리자페이지</h1>
</div>
    <div class="page-content">
        <div class="page-content-top">
            <div class="admin-page-select">
                <a href="/member/admin?reqPage=1" class="admin-page-active-tab">전체회원정보</a>
                <a href="/member/cancelManage">결제취소요청 관리</a>
            </div>
        </div>
        <div class="page-content-mid">
            <div class="admin-page-content">
                <table class="admin-tbl">
                    <tr>
                        <th style="width: 10%;">회원번호</th>
                        <th style="width: 15%;">아이디</th>
                        <th style="width: 10%;">이름</th>
                        <th style="width: 15%;">전화번호</th>
                        <th style="width: 20%;">이메일</th>
                        <th style="width: 15%;">회원등급</th>
                        <th style="width: 15%;">가입일</th>
                    </tr>
                    <tr th:each="m : ${memberList}">
                        <td th:text="${m.memberNo}"></td>
                        <td th:text="${m.memberId}"></td>
                        <td th:text="${m.memberName}"></td>
                        <td th:text="${m.memberPhone}"></td>
                        <td th:text="${m.memberEmail}"></td>
                        <th:block th:if="${m.memberLevel == 1}">
                            <td th:text="관리자"></td>
                        </th:block>
                        <th:block th:if="${m.memberLevel == 2}">
                            <td th:text="일반회원"></td>
                        </th:block>
                        <td th:text="${m.enrollDate}"></td>
                    </tr>
                </table>                
            </div>
        </div>
        <div class="page-content-bottom">
            <div id="pageNavi" th:utext="${pageNavi}"></div>
        </div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
</body>
</html>