<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자페이지</title>
<script src="../js/jquery-3.6.0.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
            <h1>관리자페이지</h1>
        </div>
        <div class="page-content-top">
            <ul class="admin-page-select">
                <li>전체회원정보</li>
                <li>결제취소요청 관리</li>
            </ul>
        </div>
        <div class="page-content-mid">
            <div class="admin-page-content">
                <table class="admin-tbl">
                    <tr>
                        <th style="width: 10%;">회원번호</th>
                        <th style="width: 15%;">아이디</th>
                        <th style="width: 10%;">이름</th>
                        <th style="width: 15%;">전화번호</th>
                        <th style="width: 20%;">이메일</th>
                        <th style="width: 15%;">회원등급</th>
                        <th style="width: 15%;">가입일</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>admin</td>
                        <td>관리자</td>
                        <td>010-1234-5678</td>
                        <td>admin@gmail.com</td>
                        <td>관리자</td>
                        <td>2023-08-22</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>user01</td>
                        <td>유저1</td>
                        <td>010-1111-1111</td>
                        <td>user01@naver.com</td>
                        <td>회원</td>
                        <td>2023-08-22</td>
                    </tr>
                </table>
            </div>
            <div class="admin-page-content">
                <table class="admin-tbl">
                    <tr>
                        <th style="width: 6%;">선택</th>
                        <th style="width: 8%;">예약번호</th>
                        <th style="width: 10%;">아이디</th>
                        <th style="width: 9%;">이름</th>
                        <th style="width: 18%;">패키지상품명</th>
                        <th style="width: 12%;">전화번호</th>
                        <th style="width: 17%;">이메일</th>
                        <th style="width: 10%;">결제일</th>
                        <th style="width: 10%;">취소확정</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>1</td>
                        <td>user01</td>
                        <td>유저1</td>
                        <td>패키지상품1</td>
                        <td>010-1111-1111</td>
                        <td>user01@naver.com</td>
                        <td>2023-08-22</td>
                        <td>
                            <button class="btn bc1">확정</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>2</td>
                        <td>user01</td>
                        <td>유저1</td>
                        <td>패키지상품2</td>
                        <td>010-1111-1111</td>
                        <td>user01@naver.com</td>
                        <td>2023-08-23</td>
                        <td>
                            <button class="btn bc1">확정</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <button class="btn bc1">선택회원취소확정</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="page-content-bottom">
            <ul class="pagination">
                <li>
                    <a href="#" class="page-btn">
                        <span class="material-icons">arrow_back_ios_new</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="page-btn select-page">1</a>
                </li>
                <li>
                    <a href="#" class="page-btn">2</a>
                </li>
                <li>
                    <a href="#" class="page-btn">3</a>
                </li>
                <li>
                    <a href="#" class="page-btn">4</a>
                </li>
                <li>
                    <a href="#" class="page-btn">5</a>
                </li>
                <li>
                    <a href="#" class="page-btn">
                        <span class="material-icons">arrow_forward_ios</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
    <script>
        const tabs = $(".admin-page-select>li");
        tabs.on("click", function () {
            tabs.removeClass("active-tab");
            $(this).addClass("active-tab");
            const tabcontent = $(".admin-page-content");
            tabcontent.hide();
            const index = tabs.index(this);
            tabcontent.eq(index).show();
        });
        $(function () {
            tabs.eq(0).click();
        });
    </script>
</body>
</html>