<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
    <div class="login-wrap">
        <div class="login-header">
            <h2>로그인</h2>
            <div class="login-content">
                <form action="/member/signin" method="post">
                    <div class="input-box">
                        <input type="text" name="signId" id="signId" class="input-form" placeholder="아이디를 입력해주세요.">
                    </div>
                    <div class="input-box">
                        <input type="password" name="signPw" id="signPw" class="input-form" placeholder="비밀번호를 입력해주세요.">
					</div>
                    <div class="link-box">
						<a href="#">아이디 찾기</a>
                        <span class="etc">|</span>
                        <a href="#">비밀번호 찾기</a>
					</div>
                    <div class="btn-box">
                        <button type="submit" class="login">로그인</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    	<th:block th:include="common/mung_footer"></th:block>
</body>
</html>