<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/mypage.css">
</head>
<body>
<th:block th:include="common/mung_header"></th:block>
<div class="color-head">
	<h1>마이페이지</h1>	
</div>
    <div class="page-content">
        <form action="/member/update" method="post">
            <div class="tab-wrap">
                <ul class="tabs">
                    <a href="/member/mypage"><li>회원정보</li></a>
                    <a th:href="@{/member/myFavorite(memberNo=${session.m.memberNo})}" class="active-tab"><li>내가 찜한 여행지</li></a>
                    <a th:href="@{/member/myReservation(memberNo=${session.m.memberNo})}"><li>예약현황</li></a>
                    <a href="/member/myBoard"><li>자유게시판</li></a>
                    <a href="/member/myQna"><li>Q&A</li></a>
                </ul>
                <div class="content-wrap">
                    <div class="tabcontent">
                        <h4>내가 찜한 여행지</h4>
                        <br><hr><br>
                        <ul class="mid-list-wrap">
                            <li class="mid-list">
                                <a th:href="@{/facility/tourDetail(facilityNo=${})}">
                                    <div class="list-img-box">
                                        <th:block>

                                        </th:block>
                                        <th:block>
                                            
                                        </th:block>
                                    </div>
                                    <div class="list-text-box">
                                        <ul>
                                            <li>
                                                <h4></h4>
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                            </li>
                        </ul>
					</div>
                </div>
                <div class="page-content-bottom"></div>
            </div>
        </form>
    </div>
    <th:block th:include="common/mung_footer"></th:block>

</body>

</html>