<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/mypage.css">
</head>
<body>
<th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">마이페이지</div>
        <form action="/member/update" method="post">
            <div class="tab-wrap">
                <ul class="tabs">
                    <li>회원정보</li>
                    <li>내가 찜한 여행지</li>
                    <li>예약현황</li>
                    <li>자유게시판</li>
                    <li>Q&A</li>
                </ul>
                <div class="content-wrap">
                    <div class="tabcontent">
                        <h4>회원정보</h4>
                        <br><hr><br>
                        <div class="member-info">
                            <div class="input-wrap">
                                <label for="memberNo">회원번호</label>
                                <input type="text" name="memberNo" id="memberNo" class="input-form"
                                    th:value="${session.m.memberNo}" disabled>
                            </div>
                            <div class="input-wrap">
                                <label for="memberId">아이디</label>
                                <input type="text" name="memberId" id="memberId" class="input-form"
                                    th:value="${session.m.memberId}" disabled>
                            </div>
                            <div class="input-wrap">
                                <label for="memberPw">비밀번호</label>
                                <input type="text" name="memberPw" id="memberPw" class="input-form"
                                    th:value="${session.m.memberPw}">
                            </div>
                            <div class="input-wrap">
                                <label for="memberName">이름</label>
                                <input type="text" name="memberName" id="memberName" class="input-form"
                                    th:value="${session.m.memberName}" disabled>
                            </div>
                            <div class="input-wrap">
                                <label for="memberPhone">전화번호</label>
                                <input type="text" name="memberPhone" id="memberPhone" class="input-form"
                                    th:value="${session.m.memberPhone}">
                            </div>
                            <div class="input-wrap">
                                <label for="memberAddr">이메일</label>
                                <input type="text" name="memberEmail" id="memberEmail" class="input-form"
                                    th:value="${session.m.memberEmail}">
                            </div>
                            <div class="input-wrap">
                                <label for="enrollDate">가입일</label>
                                <input type="text" name="enrollDate" id="enrollDate" class="input-form"
                                    th:value="${session.m.enrollDate}" disabled>
                            </div>
                            <div class="btn-box">
                                <button type="submit" class="updatebtn">정보수정</button>
                                <a th:if="${session.m.memberLevel != 1}" href="/member/delete"
                                    class="memberbtn">회원탈퇴</a>
                                <a th:if="${session.m.memberLevel == 1}" href="/member/admin?reqPage=1"
                                    class="memberbtn">회원관리</a>
                            </div>
                        </div>
                    </div>

                    <div class="tabcontent">
                        <h4>내가 찜한 여행지</h4>
                        <br><hr><br>
                        <div class="product">
                                <ul class="product-list">
                                    <li>
                                        <img src="img/.png">
                                        <ul class="place-info">
                                        <li>주소1</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="img/.png">
                                        <ul class="place-info">
                                        <li>주소2</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="img/.png">
                                        <ul class="place-info">
                                        <li>주소3</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <img src="img/.png">
                                        <ul class="place-info">
                                        <li>주소4</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
					</div>
                    <div class="tabcontent">
                        <h4>예약정보</h4>
                        <br>
                        <hr><br>
                        <div class="booking-list">
                            <table>
                                <tr>
                                    <th width="200px">예약일</th>
                                    <th width="200px">예약번호</th>
                                    <th height="50px" width="400px">패키지정보</th>
                                    <th width="200px">예약일정</th>
                                    <th width="200px">금액</th>
                                    <th width="200px">진행상황</th>
                                    <th width="200px">예약취소</th>
                                </tr>
                                <tr>
                                    <td>2023-08-01</td>
                                    <td>1234</td>
                                    <td><img src="img/">패키지명</td>
                                    <td>2023-09-28<br>~2023-09-30</td>
                                    <td>0원</td>
                                    <td>예약완료</td>
                                    <td><button type="submit" class="cbtn">예약취소</button></td>
                                </tr>
                                <tr>
                                    <td>2023-08-01</td>
                                    <td>1234</td>
                                    <td><img src="img/">패키지명</td>
                                    <td>2023-09-28<br>~2023-09-30</td>
                                    <td>0원</td>
                                    <td>예약완료</td>
                                    <td><button type="submit" class="cbtn">예약취소</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tabcontent">
                        <h4>자유게시판</h4>
                        <br>
                        <div class="free-list">
                            <table>
                                <tr>
                                    <th width="50px">No</th>
                                    <th height="50px" width="800px">제목</th>
                                    <th width="150px">작성일</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>글제목글제목글제목글제목글제목글제목글제목</td>
                                    <td>2023-08-01</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>글제목글제목글제목글제목글제목글제목글제목</td>
                                    <td>2023-08-02</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>글제목글제목글제목글제목글제목글제목글제목</td>
                                    <td>2023-08-03</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>글제목글제목글제목글제목글제목글제목글제목</td>
                                    <td>2023-08-04</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>글제목글제목글제목글제목글제목글제목글제목</td>
                                    <td>2023-08-05</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="tabcontent">
                        <h4>Q&A</h4>
                        <br><hr><br>
                        <div class="qnacontent">
                            <ul class="qna-list">
                                <li>
                                    <a href="#">Q. 질문1</a>
                                    <ul class="a-list">
                                        <li><a href="#">A. 답변1</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="qna-list">
                                <li>
                                    <a href="#">Q. 질문2</a>
                                    <ul class="a-list">
                                        <li><a href="#">A. 답변2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
    <script src="/js/mypage.js"></script>
</body>

</html>