<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/mypage.css">
</head>
<body>
<th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">마이페이지</div>
            <div class="tab-wrap">
                <ul class="tabs">
                    <a href="/member/mypage"><li>회원정보</li></a>
                    <a href="/member/myFavorite"><li>내가 찜한 여행지</li></a>
                    <a href="/member/myReservation" class="active-tab"><li>예약현황</li></a>
                    <a href="/member/myBoard"><li>자유게시판</li></a>
                    <a href="/member/myQna"><li>Q&A</li></a>
                </ul>
                <div class="content-wrap">                    
                    <div class="tabcontent">
                        <h4>예약정보</h4>
                        <br>
                        <hr><br>
                        <div class="booking-list">
                            <table>
                                <tr>
                                    <th width="200px">결제일</th>
                                    <th width="200px">주문번호</th>
                                    <th height="50px" width="400px">패키지정보</th>
                                    <th width="200px">예약일정</th>
                                    <th width="200px">결제금액</th>
                                    <th width="200px">진행상황</th>
                                    <th width="200px">예약취소</th>
                                </tr>
                                <tr>
                                    <form action="" method="get">
                                        <td>2023-08-01</td>
                                        <td>1234</td>
                                        <td><img src="img/">패키지명</td>
                                        <td>2023-09-28<br>~2023-09-30</td>
                                        <td>0원</td>
                                        <td>결제완료</td>
                                        <td>
                                            <button type="submit" class="cbtn">예약취소</button>
                                        </td>
                                    </form>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
</body>

</html>