
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">        
<head>
	<!-- 구글 아이콘 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디찾기</title>
</head>
<body>
    <div class="searchId-wrap">
        <div class="searchId-header">
            <h2>아이디 찾기</h2>
            <hr>
            <form action="/searchId" method="get">
                <div class="input-wrap">
                    <label for="memberName">이름</label>
                    <input type="text" name="memberName" id="memberName">
                </div>
                <div class="input-wrap">
                    <label for="memberEmail">이메일</label>
                    <input type="text" name="memberEmail" id="memberEmail">
                </div>
                <div class="submit-btn">
                    <button type="submit" class="btn-box">조회</button>
                </div>
            </form>
        </div>
    </div>
    </body>

</html>