<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
<div class="color-head">
	<h1>회원가입</h1>
</div>
    <div class="page-content">
        <div class="menu">
            <div class="content" id="content1">
                <h4>회원정보입력</h4>
                <form action="/member/signup" method="post" id=signup>
                    <div class="content " id="content1">
                        <div class="input-wrap">
                            <label for="memberId">아이디<span id="ajaxCheckId"></span></label>
                            <div class="id-wrap">
                                <input type="text" name="memberId" id="memberId" class="input-form">
                            </div>
                        </div>
                        <div class="input-wrap">
                            <label for="memberPw">비밀번호<span>(특수문자는 !,@,#,$,%만 가능)</span><span class="comment"></span></label>
                            <input type="password" name="memberPw" id="memberPw" class="input-form">
                        </div>
                        <div class="input-wrap">
                            <label for="memberPwRe">비밀번호 확인<span class="comment"></span></label>
                            <input type="password" name="memberPwRe" id="memberPwRe" class="input-form">
                        </div>
                        <div class="input-wrap">
                            <label for="memberName">이름<span class="comment"></span></label>
                            <input type="text" name="memberName" id="memberName" class="input-form">
                        </div>
                        <div class="input-wrap">
                            <label for="memberPhone">전화번호<span>(ex.010-0000-0000)</span><span class="comment"></span></label>
                            <input type="text" name="memberPhone" id="memberPhone" class="input-form">
                        </div>
                        <div class="input-wrap">
                            <label for="memberEmail">이메일</label><br>
                            <input type="hidden" name="memberEmail" id="memberEmail">
                            <input type="text" name="memberEmail1" id="memberEmail1" class="einput-form">
                            <span id="ping">@</span>
                            <input type="text" name="memberEmail2" id="memberEmail2" class="einput-form">
                            <select class="email-choice">
                                <option value="" class="text">직접입력</option>
                                <option value="naver.com">naver.com</option>
                                <option value="google.com">google.com</option>
                                <option value="nate.com">nate.com</option>
                                <option value="kakao.com">kakao.com</option>
                            </select>
                            <button type="button" class="memberbtn" id="sendBtn">전송</button>
                            <div id="auth" style="display:none;">
                                <input type="text" id="authCode" placeholder="인증번호 입력">
                                <button type="button" id="authBtn">인증하기</button>
                                <!-- 인증시간/내용 -->
                                <span id="timeZone"></span>
                                <span id="authMsg"></span>
                            </div>
                        </div>
                        <br><hr><br>
                        <div class="content " id="content2">
                            <h4>이용약관 확인 및 동의</h4>
                            <div class="content-agree">
                                <input type="checkbox" name="agree" id="allAgree">
                                <label for="allAgree">전체동의</label><br>
                                <input type="checkbox" name="agree" id="agree1">
                                <label for="agree1">개인회원 약관에 동의</label>
                                <div class="agree-box">
                                    <div class="agree-explain">
                                        <p>제1장 총칙 제1조(목적) 이 약관은 주식회사 강원 멍멍 탐험대(이하 “회사”)가 운영하는 사이버 몰에서 제공하는 인터넷 관련
                                            서비스를
                                            이용함에 있어 사이버 몰과
                                            “이용자”의 권리․의무 및 책임사항을 규정함을 목적으로 합니다. 제2조(정의) ① “몰”이란 회사가 재화 또는 용역(이하 “재화
                                            등”)을
                                            “이용자”에게 제공하기
                                            위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 사이버몰을 말합니다. ② “이용자”란 “몰”에
                                            접속하여 이
                                            약관에 따라 “회사”가
                                            제공하는 서비스를 받는 회원 및 비회원을 말합니다. ③ “회원”이라 함은 “몰”에 회원 가입을 한 자로서, 계속적으로 “몰”이
                                            제공하는
                                            서비스를 이용할 수 있는 자를
                                            말합니다. ④ “비회원”이란 회원으로 가입하지 않고 “몰”이 제공하는 서비스를 이용하는 자를 말합니다. ⑤ “판매자”란 “회사”와
                                            “인터넷 쇼핑몰 입점 계약”을
                                            체결하고 “몰”에서 재화 등을 판매하는 자를 말합니다. 제3조 (약관 등의 명시와 설명 및 개정) ① “회사”는 이 약관의 내용과
                                            상호
                                            및 대표자 성명, 영업소
                                            소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호․모사전송번호․전자우편주소, 사업자등록번호, 통신판매업
                                            신고번호, 개인정보관리책임자등을
                                            “이용자”가 쉽게 알 수 있도록 ”몰”의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 “이용자”가 연결화면을 통하여
                                            볼 수
                                            있도록 할 수 있습니다. ②
                                            “회사”는 “이용자”가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회․배송책임․환불조건 등과 같은 중요한 내용을
                                            “이용자”가 이해할 수 있도록 별도의
                                            연결화면 또는 팝업화면 등을 제공하여 “이용자”의 확인을 구하여야 합니다. ③ “회사”는 「전자상거래 등에서의 소비자보호에 관한
                                            법률」,
                                            「약관의 규제에 관한
                                            법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」,
                                            「방문판매 등에 관한 법률」,
                                            「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다. ④ “회사”는 이 약관을 개정할 경우에는
                                            적용일자
                                            및 개정사유를 명시하여
                                            현행약관과 함께 “몰”의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지하고 “이용자”에게 통지합니다. 다만,
                                            “이용자”에게
                                            불리하게 약관내용을 변경하는
                                            경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지 및 통지합니다. 이 경우 "회사“는 개정 전 내용과 개정 후 내용을
                                            명확하게
                                            비교하여 “이용자”가 알기
                                            쉽도록 표시합니다. ⑤ “이용자”는 개정 약관이 게시되거나 통지된 후부터 변경되는 약관의 시행일 전의 영업일까지 개정 전
                                            약관조항에 따라
                                            체결된 계약을 해지할 수
                                            있고, 약관의 개정내용에 대하여 이의를 제기하지 아니하는 경우에는 약관의 개정을 승인한 것으로 봅니다. ⑥ 회사는 제공하는 서비스
                                            내의
                                            개별 서비스에 대한 별도의
                                            약관 또는 이용조건(이하 “타 약관”이라 한다)을 둘 수 있으며, 이 약관의 동의와는 별개로 회원에게 타 약관에 대한 동의를 받은
                                            후 타
                                            약관을 적용합니다. 이 경우
                                            타 약관은 이 약관에 우선합니다. ⑦ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에
                                            관한
                                            법률, 약관의 규제 등에 관한
                                            법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따릅니다.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="content-agree">
                                <input type="checkbox" name="agree" id="agree2">
                                <label for="agree2">개인정보 수집 및 이용에 동의</label>
                                <div class="agree-box">
                                    <div class="agree-explain">
                                        1. 수집목적 - 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산 - 민원사무 처리 - 재화 또는 서비스 제공 - 추천인
                                        아이디 활용 2. 수집항목
                                        회원가입 시 (필수) 아이디, 비밀번호, 이메일, 이름, 성별, 생년월일, 휴대폰번호, CI/DI, 내/외국인정보, 본인인증결과 본인인증
                                        시 (필수) 이름, 성별,
                                        생년월일, 휴대폰번호, CI/DI, 내/외국인정보, 본인인증결과 소셜 계정(카카오)을 통한 회원가입 시 (필수) 로그인 정보 식별값,
                                        성별, 생년월일, 휴대폰번호,
                                        이메일 간편 로그인 시(소셜 계정 연동) 당사는 고객의 편의를 위해 간편로그인(카카오, Apple) 방식을 제공하고 있습니다. 이와 같은
                                        로그인 시 당사가 고객의
                                        개인정보를 추가 수집하지 않으며, 다만 로그인 정보 식별값만 비교하고 있습니다. 3. 보유기간 수집된 정보는 회원탈퇴 요청 5일 후
                                        지체없이 파기됩니다. 다만 내부
                                        방침에 의해 서비스 부정이용기록은 부정 가입 및 이용 방지를 위하여 회원 탈퇴 시점으로부터 최대 1년간 보관 후 파기하며, 관계법령에
                                        의해 보관해야 하는 정보는
                                        법령이 정한 기간 동안 보관한 후 파기합니다. 서비스 제공을 위해 필요한 최소한의 개인정보이므로 동의를 해 주셔야 서비스 이용이
                                        가능합니다. 4. 동의 거부시 불이익
                                        귀하는 개인정보 제공 등에 관해 동의하지 않을 권리가 있습니다. 다만, 필수수집 동의를 하지 않을 경우 가입이 제한될 수 있습니다.
                                    </div>
                                </div>
                            </div>
                            <div class="submit-btn">
                                <button type="submit" class="signbtn">회원가입</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   	<th:block th:include="common/mung_footer"></th:block>
    <script src="/js/signup.js"></script>
</body>

</html>