<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관광지</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
            <h1>관광지</h1>
        </div>
        <div class="page-content-top">
            <div>
                <a th:if="${session.m != null && session.m.memberLevel == 1}" href="/facility/insertFrm" class="btn bc1">등록하기</a>
            </div>
            <div>
                <form action="/facility/searchTourList">
                    <input type="text" class="input-form1" name="searchName">
                    <input type="hidden" name="reqPage" value="1">
                    <button type="button" class="btn bc1">검색</button>
                </form>
            </div>
        </div>
        <div class="page-content-mid">
            <ul class="mid-list-wrap">
                <li class="mid-list" th:each="facility : ${facilityList}">
                    <a href="#">
                        <div class="list-img-box">
                            <th:block th:if="${facility.facilityFilepath != null}">
                                <img th:src="${facility.facilityFilepath}">
                            </th:block>
                            <th:block th:if="${facility.facilityFilepath == null}">
                                <img src="/img/test_img.png">
                            </th:block>
                        </div>
                        <div class="list-text-box">
                            <ul>
                                <li><h4 th:text="${facility.facilityName}"></h4></li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content-bottom">
            <div id="pageNavi" th:utext="${pageNavi}"></div>
        </div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
</body>
</html>