<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관광지</title>
<link rel="stylesheet" href="../css/default.css">
<script src="../js/jquery-3.6.0.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
            <h1>관광지</h1>
        </div>
        <div class="page-content-top">
            <div>
                <a href="/facility/insertFrm" class="btn bc1">등록하기</a>
            </div>
            <div>
                <form action="">
                    <input type="text" class="input-form1">
                    <button type="button" class="btn bc1">검색</button>
                </form>
            </div>
        </div>
        <div class="page-content-mid">
            <ul class="mid-list-wrap">
                <li class="mid-list" th:each="facility : ${facilityList}">
                    <a href="#">
                        <div class="list-img-box">
                            <img src="/img/test_img.png">
                        </div>
                        <div class="list-text-box">
                            <ul>
                                <li><h4 th:text="${facility.facilityRegion}"></h4></li>
                                <li><h4 th:text="${facility.facilityName}"></h4></li>
                                <li th:text="${facility.facilityAddr}"></li>
                                <li th:text="${facility.facilityPhone}"></li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-content-bottom">
            <ul class="pagination">
                <li>
                    <a href="#" class="page-btn">
                        <span class="material-icons">arrow_back_ios_new</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="page-btn select-page">1</a>
                </li>
                <li>
                    <a href="#" class="page-btn">2</a>
                </li>
                <li>
                    <a href="#" class="page-btn">3</a>
                </li>
                <li>
                    <a href="#" class="page-btn">4</a>
                </li>
                <li>
                    <a href="#" class="page-btn">5</a>
                </li>
                <li>
                    <a href="#" class="page-btn">
                        <span class="material-icons">arrow_forward_ios</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
</body>
</html>