<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시설 상세보기</title>

    <link rel="stylesheet" href="/static/css/default.css"></link>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/tourDetail.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=87niwjr4qs"></script>

    <link rel="stylesheet" href="/css/default.css" />

    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/tourDetail.css">

</head>
<body>
    
    <div class="page-content">
        <div class="page-title">
        	<h1>식음료</h1>
        </div>
        <div class="tour-detail wrap-flex">
            <img src="" alt="" class="tour-img">
            <div class="wrap flex-left">
                <div class="tour-title wrap-flex">대관령 하늘목장<span class="material-icons flex-left">turned_in_not</span></div>
                <ul class="tour-info">
                    <li>
                        <div class="list">주소 </div><p>주소입니다</p>
                    </li>
                    <li><p class="list">문의처 </p><p>문의</p></li>
                    <li><p class="list">이용시간 </p><p>시간시간</p></li>
                    <li><p class="list">홈페이지 </p><p>라블라블라블라블라</p></li>
                </ul>
            </div>
        </div>
        <div class="tour-content">
            <div class="content-wrap">
                <div class="content-title">
                    <span class="material-icons icons">pets</span>소개
                </div>
                <div class="wrap-flex">
                    <div>
                        <p class="content-detail">소개 소개 소개 소개 소개 소개 소개 소개 소개 소개 소개 소개 </p>
                        <div class="content-title">
                            <span class="material-icons icons">pets</span>주요시설
                        </div>
                        <p class="content-detail">주요시설주요시설주요시설주요시설주요시설주요시설주요시설주요시설주요시설주요시설</p>
                    </div>
                    <div id="map" style="width:500px;height:400px;" class="flex-left"></div>
                </div>
            </div>
            <div class="content-wrap">
                <div class="content-title">
                    <span class="material-icons icons">pets</span>이용요금
                </div>
                <p class="content-detail">이용요금이용요금이용요금이용요금이용요금이용요금이용요금이용요금이용요금</p>
            </div>
            <div class="content-wrap">
                <div class="content-title">
                    <span class="material-icons icons">pets</span>애견 정책 및 주의사항
                </div>
                <p class="content-detail">주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항</p>
            </div>
            <div class="comment">
                <div class="content-title">
                    <span class="material-icons icons">pets</span>댓글
                </div>
                <p>
                    댓글 1
                    댓글 2
                    댓글 3
                </p>
            </div>
            <div class="comment-write">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <span>등록</span>
                <span>삭제</span>
            </div>
        </div>
    </div>

    
    <script>
		var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);
	</script>
    
</body>
</html>