<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시설 상세보기</title>

    <link rel="stylesheet" href="../css/default.css"></link>
    <link rel="stylesheet" href="../css/tourDetail.css"></link>
    <!-- 구글아이콘 -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 지도api -->
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=87niwjr4qs"></script>
    <!-- jquery -->
    <script src="/js/jquery-3.6.0.js"></script>
	<!-- 이미지 슬라이드 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
	<!-- vscode용 -->
    <!-- 
    <link rel="stylesheet" href="../../static/css/default.css">
    <link rel="stylesheet" href="../../static/css/tourDetail.css">
	 -->
</head>
<style>
.swiper {
  width: 660px;
  height: 440px;
}
.swiper-button-next {
  /* https://www.flaticon.com/free-icon/back_5544140?term=previous+button&page=1&position=7&origin=search&related_id=5544140 */
  background: url(../img/next.png) no-repeat;
  background-size: 70% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url(../img/back.png) no-repeat;
  background-size: 70% auto;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-scrollbar {
  background: var(--swiper-scrollbar-drag-bg-color,rgba(255, 0, 0, 0.1));
}
.swiper-scrollbar-drag{
  background: var(--swiper-scrollbar-drag-bg-color,rgba(255, 0, 0, 0.5));
}
/* .swiper-pagination-bullet{
  background-color: black;
} */
</style>
<body>
    <th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
        	<h1>식음료</h1>
        </div>
        <div class="tour-detail wrap-flex">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
                </div>
                <!-- If we need pagination -->
                <!-- <div class="swiper-pagination"></div> -->
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
            <div class="wrap flex-left">
                <div class="tour-title wrap-flex">
                    <span th:text="${f.facilityName}"></span>
                    <span class="material-icons flex-left wish" onclick="wish(this);">turned_in_not</span>
                </div>
                <ul class="tour-info">
                    <li>
                        <div class="list">주소 </div><p th:text="${f.facilityAddr}"></p>
                    </li>
                    <li><p class="list">문의처 </p><p th:text="${f.facilityPhone}"></p></li>
                    <li><p class="list">이용시간 </p><p th:text="${f.facilityTime}"></p></li>
                    <li><p class="list">홈페이지 </p><p th:text="${f.facilityHomepage}"></p></li>
                </ul>
            </div>
        </div>
        <div class="tour-content">
            <div class="content-wrap">
                <div class="content-title">
                    <span class="material-icons icons">pets</span>소개
                </div>
                <div class="wrap-flex">
                    <div class="content-except">
                        <p class="content-detail" th:utext="${f.facilityInfo}"></p>
                        <div class="content-title">
                            <span class="material-icons icons">pets</span>주요시설
                        </div>
                        <p class="content-detail" th:utext="${f.facilityMajor}"></p>
                    </div>
                    <div id="map" style="width:500px;height:400px;" class="flex-left"></div>
                </div>
            </div>
            <div class="content-wrap">
                <div class="content-title">
                    <span class="material-icons icons">pets</span>이용요금
                </div>
                <p class="content-detail" th:utext="${f.facilityPrice}"></p>
            </div>
            <div class="content-wrap">
                <div class="content-title">
                    <span class="material-icons icons">pets</span>애견 정책 및 주의사항
                </div>
                <p class="content-detail" th:utext="${f.facilityNotice}"></p>
            </div>
        </div>
    </div>

    
    <script>
        // 지도api
		var mapOptions = {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        };
        var map = new naver.maps.Map('map', mapOptions);
        //찜하기(파라미터 상품번호)
        function wish(obj){
            const wishBtn = $(obj);
            wishBtn.text("turned_in");
            wishBtn.attr("onclick","delWish(this);");
        };
        //찜하기 삭제(파라미터 상품번호)
    	function delWish(obj){
        	const delBtn = $(obj);
        	delBtn.text("turned_in_not");
            delBtn.attr("onclick","wish(this);");
        }
        //이미지 슬라이드
        const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
        });
	</script>
    <th:block th:include="common/mung_footer"></th:block>
</body>
</html>