<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시설 상세보기</title>
    <link rel="stylesheet" href="/static/css/default.css"></link>
</head>
<style>
    .content-name{
        display: flex;
    }
    img{
        width: 400px;
        height: 400px;
    }
    ul{
        margin-right: auto;
        border-radius: 30px;
        background-color: aliceblue;
        width: 400px;
        height: 300px;
    }
    .map{
        width: 300px;
        height: 300px;
        background-color: blue;
    }
    .wrap-flex{
        display: flex;
    }
    .content-title{
        font-size: 30px;
    }
</style>
<body>
    <th:block th:include="common/header"></th:block>
    <div class="page-content">
        <div class="page-title">
        	<h1>식음료</h1>
        </div>
        <div class="content-name">
            <img src="" alt="">
            <div class="wrap">
                <div>대관령 하늘목장<span>찜</span></div>
                <ul>
                    <li>주소 : </li>
                    <li>문의처 : </li>
                    <li>이용시간 : </li>
                    <li>홈페이지 : </li>
                </ul>
            </div>
        </div>
        <div class="content-main">
            <div class="content-wrap">
                <div class="content-title">소개</div>
                <div class="wrap-flex">
                    <div>
                        <p>소개 소개 소개 소개 소개 소개 소개 소개 소개 소개 소개 소개 </p>
                        <div class="content-title">주요시설</div>
                        <p>주요시설주요시설주요시설주요시설주요시설주요시설주요시설주요시설주요시설주요시설</p>
                    </div>
                    <div class="map"></div>
                </div>
            </div>
            <div class="content-wrap">
                <div class="content-title">이용요금</div>
                <p>이용요금이용요금이용요금이용요금이용요금이용요금이용요금이용요금이용요금</p>
            </div>
            <div class="content-wrap">
                <div class="content-title">애견 정책 및 주의사항</div>
                <p>주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항주의사항</p>
            </div>
            <div class="comment">
                <div class="content-title">댓글</div>
                <p>
                    댓글 1
                    댓글 2
                    댓글 3
                </p>
            </div>
            <div class="comment-write">
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <span>등록</span>
                <span>삭제</span>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
</body>
</html>