<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관광지</title>
<link rel="stylesheet" href="/static/css/default.css"></link>
</head>
<body>
    <th:block th:include="common/header"></th:block>
    <div class="page-content">
        <div class="page-title">
        	<h1>관광지</h1>
        </div>
        <div class="page-content-top">
            <div>
                <a href="#" class="btn bc1">등록하기</a>
            </div>
            <div>
                <form action="">
                    <input type="text" class="input-form">
                    <button type="button" class="btn bc1">검색</button>
                </form>
            </div>
        </div>
        <div class="page-content-mid">
            
        </div>
        <div class="page-content-bottom"></div>
    </div>
    <th:block th:include="common/footer"></th:block>
</body>
</html>