/* 사용 폰트 */
@font-face{
    font-family: kotra-hope;
    src: url(../font/KotraHope.otf);
}
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
}
@font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: ns-medium;
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
}
@font-face {
    font-family: ns-regular;
    src: url(../font/NotoSansKR-Regular.otf);
}


*{
    margin: 0;
    padding: 0;
    font-family: ns-medium;
    color: #1C2B2D;
    list-style-type: none;
}


/* 폰트 클래스 */
.f-title{
    font-family: kotra-hope;
}
.f-thin{
    font-family: ns-thin;
}
.f-light{
    font-family: ns-light;
}
.f-medium{
    font-family: ns-medium;
}
.f-regular{
    font-family: ns-regular;
}
.f-bold{
    font-family: ns-bold;
}
.f-black{
    font-family: ns-black;
}


/* 글씨색 */
.fc-1{
    color: #04909f;
}
.fc-2{
    color: #9ed2dc;
}


/* 배경색 */
.bg-1{
    background-color: #04909f;
}
.bg-2{
    background-color: #9ed2dc;
}

/* 버튼 디자인 */
.btn{
    border: none;
    height: 45px;
    padding: 0.5rem 1rem;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    border-radius: 5px;
}
.bc1{
    background-color: #04909f;
    color: #fff;
    border: 2px solid #04909f;
}
.bc1:hover{
    background-color: #1F6E8C;
    border: 2px solid #1F6E8C;
    cursor: pointer;
}

/* input 디자인 */
.input-form{
    display: block;
    height: 45px;
    padding: 0.5rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    border-radius: 5px;
}
.input-form:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}



.page-content{
    width: 1200px;
    margin: 30px auto;
}
.page-title{
    margin-bottom: 30px;
}
.page-title>h1{
    text-align: center;
}
.page-content-top{
    border-top: 1px solid #ccc;
    overflow: hidden;
    height: 100px;
}
.page-content-top>div:first-child{
    float: left;
    margin: 20px;
}
.page-content-top>div:first-child>a{
    text-decoration: none;

}
.page-content-top>div:last-child{
    float: right;
    margin: 20px;
}
.page-content-top>div:last-child>form{
    overflow: hidden;
}
.page-content-top>div:last-child>form>.input-form{
    float: left;
    margin-right: 10px;
}
.page-content-top>div:last-child>form>.btn{
    float: left;
}
.mid-list-wrap{
    overflow: hidden;
}
.mid-list{
    width: calc(100% / 4);
    height: 350px;
    background-color: antiquewhite;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}