@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* *{
    margin: 0px;
    padding: 0px;
} */
.footer_content{
	margin-top: 100px;
    width: 100%;
    border-top: 1px solid lightgray;
}
.footer_text{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.footer_text>ul>li{
    padding: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
}
.footer_textlink{
	width: 37%;
	float: left;
	font-size: 18px;
	padding-top: 40px;
	text-align: right;
}
.footer_textlink a>span:hover{
	font-weight: 100px;
	padding-top: 40px;
	text-align: right;
	
}
.footer_text_div1>ul>li{
	color: gray;
}

.footer_textlink a>span{
	width: 150px;
	font-family: cafe-24;
}
.footer_textlink a>span:hover{
	font-size: 19px;
	padding-top: 40px;
}

.footer_text_div1{
	width: 63%;
	float: left;
}
.footer_logo{
    background-color: rgb(1,50,131);
    padding: 20px;
    background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(1, 47, 121), rgb(1,50,131), rgb(1, 47, 121));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(1, 47, 121), rgb(1,50,131), rgb(1, 47, 121)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.footer_logo_wrap{
    width: 1200px;
    margin: 0 auto;
}
.footer_logo_wrap>a{
    text-decoration: none;
}
.footer_logo_wrap>a>span{
    font-size: 50px;
    color: aliceblue;
    font-family: Recipekorea;
    padding-left: 10px;
    text-align: left;
    letter-spacing: -4px;
}
.footer_logo_wrap>a>span>span{
    font-size: 60px;
    color: rgb(1, 78, 200);
    font-family: strawberry;
    padding-left: 10px;
    text-align: left;
    letter-spacing: -8px;
}

.logo>a>span{
    color: rgb(1,50,131);
    font-family: Recipekorea;
    font-size: 50px;
    letter-spacing: -4px;
}
.logo>a>span>span{
    color: rgb(1, 78, 200);
    font-family: strawberry;
    font-size: 65px;
    letter-spacing: -8px;
}