*{
    margin: 0;
    padding: 0;
}
/*이미지 슬라이드 영역*/
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    text-align: center;
    border-radius:3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5); */
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.mySlides-text{

    padding-top: 300px;
    width: 100%;
    position: absolute;
}
.mySlides-text{
    font-size: 45px;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/**********************공지사항 검색창 영역***********************/
.top-mid{
    width: 100%;
    height: 100%;
    background-color:rgb(4, 144, 159) ;
    overflow: hidden;
}
.notice{
	overflow: hidden;
}
.notice-text{
    width: 300px;
    padding: 20px;
    padding-left: 100px;
    text-align: right;
    float: left;
}
.notice-text>span:first-child{
    color: white;
    font-size: 30px;
}
.notice-text>span:last-child{
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.notice-list{
    width: 800px;
    padding: 30px;
    float: left;
}
.notice-content{
	
    background-color: white;
}
.notice-content>p{
    font-size: 20px;
}
.search{
    float: left;
    padding-top: 15px;
    padding-left:  20px;
    overflow: hidden;

}
.search-icon{
    width: 50px;
    float: left;
}
.search-icon>span{
    color: white;
    font-size: 50px;
}
.search-input{
    float: left;
}
#search{
    height: 50px;
    font-size: 20px;
    border: 2px solid rgb(158, 210, 220);
    border-radius: 5px;
    outline: none;
    
}
.search-submit{

    border: none;
    width: 90px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(158, 210, 220);
    color: white;
    border-radius: 5px;
	cursor:pointer;
}
/************************이미지 위 소개글 **********************/
.top-bottom{
    width: 1900px;
    position: relative;

}

.bottom-text1{
    padding: 100px;
    position: absolute;

}
.text1{
    color: aliceblue;
    font-size: 50px;
    padding-bottom: 50px;
}
.text2{
    color:darkblue;
    font-size: 80px;
}
