@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: kotra-hope;
    src: url(../font/KotraHope.otf);
}
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
}
@font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: ns-medium;
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
}
@font-face {
    font-family: ns-regular;
    src: url(../font/NotoSansKR-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: ns-regular;
    color: #1C2B2D;
    list-style-type: none;
    text-decoration: none;
}
/*이미지 슬라이드 영역*/
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{  
    width: 1200px;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    text-align: center;
    border-radius:3%;
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5); */
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.mySlides-text{

    padding-top: 300px;
    width: 100%;
    position: absolute;
}
.mySlides-text{
    font-size: 45px;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/**********************공지사항 검색창 영역***********************/
.top-mid{
    width: 100%;
    height: 100%;
    background-color:rgb(1, 78, 200);
    overflow: hidden;
}
.notice{
	overflow: hidden;
}
.notice-text{
    width: 300px;
    padding: 20px;
    padding-left: 100px;
    text-align: right;
    float: left;
}
.notice-text>span:first-child{
    color: white;
    font-size: 30px;
}
.notice-text>span:last-child{
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.notice-list{
    width: 500px;
    padding: 25px 50px 20px 0px;
    float: left;
}
#noticeListView{
	font-size:25px;
}
.notice-content{
	height: 40px;
    background-color: white;
    border-radius: 5px;
}
.notice-content>a{
    padding: 7px;
    font-size: 20px;
}
.search{
    float: left;
    padding-top: 20px;
    padding-left:  20px;
    overflow: hidden;

}
.search-icon{
    width: 50px;
    float: left;
}
.search-icon>span{
    color: white;
    font-size: 50px;
}
.search-input{
    float: left;
}
.search-select{
	float : left;
	padding : 0px 5px 0px 5px;
}
.sel-search{
	width:100px;
	height:47px;
	font-size:20px;
	border-radius:30px;
	text-align:center;
	color:rgb(1, 78, 200);
	font-weight: bold;
}
#searchName{
    padding: 10px;
    height: 25px;
    font-size: 20px;
    border: 2px solid rgb(78, 146, 240);
    border-radius: 5px;
    outline: none;
    
}
.search-submit{

    border: none;
    width: 90px;
    height: 47px;
    font-size: 20px;
    font-weight: 600;
 
    background-color: rgb(78, 146, 240);
    color: aliceblue;
    border-radius: 5px;
	cursor:pointer;
}
/************************이미지 위 소개글 **********************/
.top-bottom{
    width: 1900px;
    position: relative;

}
/* ******************여러 페이지 미리보기 슬라이더 들어갈 영역*****/
.lodging-logo{
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
}
.lodging-icon{
    width: 5%;
    float: left;
    text-align: center;
}
.lodging-icon>span{
    font-size: 40px;
    color: #001538;
}
.lodging-text{
    width: 95%;
    float: left;
}
.lodging-text>span{
    font-size: 40px;
    font-family: kotra-hope;
    color: #001538;
}
  .slides1>li{
    list-style-type: none;
    padding-top: 20px;

  }
  .slides1>li>img{
  	width:250px
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  #slideShow1{
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    border-top:  1px solid #001538;
    /*리스트 형식으로 이미지를 일렬로 
    정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/
  }
  
  
  .slides1{
    position: absolute;
    left: 0;
    top: 0;
    width: 3000px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides1 li:first-child{
    margin-left: 64px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides1 li:not(:last-child){
    float: left;
    margin-right: 64px;
  }
  
  .slides1 li{
    float: left;
  }
  
  .controller1 span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller1 span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev1{
    left: 10px;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev1:hover{
    transform: translateX(-10px);
  }
  
  .next1{
    right: 10px;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next1:hover{
    transform: translateX(10px);
  }
  /************8*** 관광지와 식음료 감싸는 **************************/
.mid-content{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

  /********************** 관광지 영역********************************/
.travel{
    width: 50%;
    float: left;
}
.travel-logo{
    padding: 20px 0px 0px 0px;
    overflow: hidden;
}
.travel-icon{
    width: 15%;
    float: left;
    text-align: center;
}
.travel-icon>span{
    font-size: 40px;
    color: #001538;
}
.travel-text{
    width: 85%;
    float: left;
}
.travel-text>span{
    font-size: 40px;
    font-family: kotra-hope;
    color: #001538;
}
  .slides2>li{
    list-style-type: none;
    padding-top: 20px;

  }
  .slides2>li>a>img{
    border: 1px solid lightgray);
    border-radius: 10px;
  }
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  #slideShow2{
    width: 435px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-top:  1px solid #001538;
    /*리스트 형식으로 이미지를 일렬로 
    정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/
  }
  
  
  .slides2{
    position: absolute;
    left: 0;
    top: 0;
    width: 10000px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides2 li:first-child{
    margin-left: 68px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides2 li:not(:last-child){
    float: left;
    margin-right: 68px;
  }
  
  .slides2 li{
    float: left;
  }
  
  .controller2 span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller2 span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev2{
    left: 10px;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev2:hover{
    transform: translateX(-10px);
  }
  
  .next2{
    right: 10px;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next2:hover{
    transform: translateX(10px);
  }
  
  /* ++++++++++++++++++++++++++++패키지 영역++++++++++++++++++++++++++++++ */
.pakage{
    width: 50%;
    float: left;
}
.pakage-logo{
    border-bottom: 1px solid #001538;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
}
.pakage-icon{
    width: 15%;
    float: left;
    text-align: center;
}
.pakage-icon>span{
    font-size: 40px;
    color: #001538;
}
.pakage-text{
    width: 85%;
    float: left;
}
.pakage-text>span{
    font-size: 40px;
    font-family: kotra-hope;
    color: #001538;
}
.pakage-content{
    padding: 10px;
    margin: 0 auto;
}
.pakage-img>img{
width: 600px;
height: 340px;
border-radius: 5%;
}

/* *******************미리보기 밑 부분 멍멍이 자랑이나 멍멍이 식음료부분*********************** */

.wrap-bottom{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background-color: white;
}
.mung{
    width: 61%;
    float: left;
}
.mung-logo{
    overflow: hidden;
    border-bottom: 1px solid #001538;

}
.mung-icon{
    width: 15%;
    float: left;
    text-align: center;
}
.mung-icon>span{
    font-size: 40px;
    color: #001538;

}
.mung-text{
    width: 85%;
    float: left;
}
.mung-text>span{
    font-size: 40px;
    font-family: kotra-hope;
    color: #001538;
}
.mung-content{
    overflow: hidden;
}
.mung-content>ul>li{
    float: left;
    padding: 20px 10px 20px 20px;
}
.mung-content>ul>li>a>img{
    width: 150px;
    height: 150px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

/*  */
.eat{
    padding-left: 20px;
    width: 30%;
    float: left;
}
.eat-logo{
    overflow: hidden;
    border-bottom: 1px solid #001538;
}
.eat-icon{
    width: 15%;
    float: left;
    text-align: center;
}
.eat-icon>span{
    font-size: 40px;
    color: #001538;

}
.eat-text{
    width: 85%;
    float: left;
}
.eat-text>span{
    font-size: 40px;
    font-family: kotra-hope;
    color: #001538;
}
.Slidesbackground2{
    padding-top: 10px;
}

