@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* *{
    margin: 0px;
    padding: 0px;
} */
.footer_content{
	margin-top: 200px;
    width: 100%;
    border-top: 1px solid lightgray;
}
.footer_text{
    width: 1200px;
    margin: 0 auto;
}
.footer_text>ul>li{
    padding: 8px;
    font-size: 17px;
    font-weight: 500;
    color: gray;
}
.footer_logo{
    background-color: rgb(1,50,131);
    padding: 20px;
    background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, rgb(1, 47, 121), rgb(1,50,131), rgb(1, 47, 121));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, rgb(1, 47, 121), rgb(1,50,131), rgb(1, 47, 121)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.footer_logo_wrap{
    width: 1200px;
    margin: 0 auto;
}
.footer_logo_wrap>a{
    text-decoration: none;
}
.footer_logo_wrap>a>span{
    font-size: 50px;
    color: aliceblue;
    font-family: KOTRAHOPE;
    padding-left: 10px;
    text-align: left;
}