@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: kotra-hope;
    src: url(../font/KotraHope.otf);
}
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
}
@font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: ns-medium;
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
}
@font-face {
    font-family: ns-regular;
    src: url(../font/NotoSansKR-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: ns-regular;
    color: #1C2B2D;
    list-style-type: none;
    text-decoration: none;
}
/*이미지 슬라이드 영역*/
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlides {
    text-align: center;
    border-radius:3%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.5); */
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
.mySlides-text{

    padding-top: 300px;
    width: 100%;
    position: absolute;
}
.mySlides-text{
    font-size: 45px;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/**********************공지사항 검색창 영역***********************/
.top-mid{
    width: 100%;
    height: 100%;
    background-color:rgb(4, 144, 159) ;
    overflow: hidden;
}
.notice{
	overflow: hidden;
}
.notice-text{
    width: 300px;
    padding: 20px;
    padding-left: 100px;
    text-align: right;
    float: left;
}
.notice-text>span:first-child{
    color: white;
    font-size: 30px;
}
.notice-text>span:last-child{
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.notice-list{
    width: 800px;
    padding: 20px 50px 20px 0px;
    float: left;
}
.notice-content{
	height: 40px;
    background-color: white;
}
.notice-content>p{
    padding: 7px;
    font-size: 20px;
}
.search{
    float: left;
    padding-top: 15px;
    padding-left:  20px;
    overflow: hidden;

}
.search-icon{
    width: 50px;
    float: left;
}
.search-icon>span{
    color: white;
    font-size: 50px;
}
.search-input{
    float: left;
}
#search{
    padding: 10px;
    height: 25px;
    font-size: 20px;
    border: 2px solid rgb(158, 210, 220);
    border-radius: 5px;
    outline: none;
    
}
.search-submit{

    border: none;
    width: 90px;
    height: 47px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    background-color: rgb(158, 210, 220);
    color: aliceblue;
    border-radius: 5px;
	cursor:pointer;
}
/************************이미지 위 소개글 **********************/
.top-bottom{
    width: 1900px;
    position: relative;

}
/* ******************여러 페이지 미리보기 슬라이더 들어갈 영역*****/
.lodging-logo{
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
    overflow: hidden;
}
.lodging-icon{
    width: 5%;
    float: left;
    text-align: center;
}
.lodging-icon>span{
    font-size: 40px;
    color: rgb(4, 144, 159);
}
.lodging-text{
    width: 95%;
    float: left;
}
.lodging-text>span{
    font-size: 40px;
    font-family: kotra-hope;
    color: rgb(4, 144, 159);
}
  .slides>li{
    list-style-type: none;
    padding-top: 20px;

  }
  .slides>li>img{
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  #slideShow{
    width: 1000px;
    height: 300px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    border-top:  1px solid lightgray;   
    /*리스트 형식으로 이미지를 일렬로 
    정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/
  }
  
  
  .slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 3000px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child{
    margin-left: 64px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child){
    float: left;
    margin-right: 64px;
  }
  
  .slides li{
    float: left;
  }
  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev{
    left: 10px;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover{
    transform: translateX(-10px);
  }
  
  .next{
    right: 10px;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next:hover{
    transform: translateX(10px);
  }


