@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: kotra-hope;
    src: url(../font/KotraHope.otf);
}
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
}
@font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: ns-medium;
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
}
@font-face {
    font-family: ns-regular;
    src: url(../font/NotoSansKR-Regular.otf);
}


*{
    margin: 0;
    padding: 0;
    font-family: ns-regular;
    color: #1C2B2D;
    list-style-type: none;
    text-decoration: none;
}
.productwrite-wrap{
    text-align: center;
}
.write_top{
    margin: 0 auto;
    padding: 10px;
    width: 1200px;
    border-bottom: 1px solid lightgray;
}
.write-content{
    width: 1200px;
    margin: 0 auto;
    padding: 20px;


}
.pcw{
    width: 400px;
    height: 60px;
    background-color: rgb(243, 244, 248);
}
.pcw>label{
    font-size: 18px;
    color: black;
    line-height: 3.5px;
}
.pci{
    width: 800px;
    height: 59px;
    font-size: 18px;
    border: none;
    outline: none;

}
.pcw-0{
    width: 400px;
    height: 600px;
    background-color: rgb(243, 244, 248);
}
.pcw-0>label{
    font-size: 18px;
    color: black;
    
}
