@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: kotra-hope;
    src: url(../font/KotraHope.otf);
}
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
}
@font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: ns-medium;
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
}
@font-face {
    font-family: ns-regular;
    src: url(../font/NotoSansKR-Regular.otf);
}


*{
    margin: 0;
    padding: 0;
    font-family: ns-regular;
    color: #1C2B2D;
    list-style-type: none;
    text-decoration: none;
}


/* 폰트 클래스 */
.f-title{
    font-family: kotra-hope;
}
.f-thin{
    font-family: ns-thin;
}
.f-light{
    font-family: ns-light;
}
.f-medium{
    font-family: ns-medium;
}
.f-regular{
    font-family: ns-regular;
}
.f-bold{
    font-family: ns-bold;
}
.f-black{
    font-family: ns-black;
}


/* 글씨색 */
.fc-1{
    color: rgb(1, 78, 200);
}
.fc-2{
    color: rgb(1, 78, 200);
}


/* 배경색 */
.bg-1{
    background-color: rgb(1, 78, 200);
}
.bg-2{
    background-color: #9ed2dc;
}

/* 버튼 디자인 */
.btn{
    border: none;
    height: 45px;
    padding: 0.5rem 1rem;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    border-radius: 5px;
}
.btn2{
    border: none;
    height: 40px;
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    border-radius: 5px;
}
.bc1{
    background-color: rgb(1, 78, 200);
    color: #fff;
    border: 2px solid rgb(1, 78, 200);
}
.bc1:hover{
    background-color: rgb(1, 78, 200);
    border: 2px solid rgb(1, 78, 200);
    cursor: pointer;
}

/* input 디자인 */
/* input 댓글작성용 */
.input-form {
    width: 100%;
    display: block;
    padding: 0.8rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input-form:focus {
    box-shadow: 0 0 0 0.1rem #eee;
}

textarea.input-form {
    resize: none;
    min-height: 96px;	/* 300*/
}
.input-form:read-only:not(select),
.input-form:disabled {
    background-color: #f7f7f9;
}
/***********************/
.input-form1{
    display: block;
    height: 45px;
    padding: 0.5rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    border-radius: 5px;
}
.input-form2{
    width: 450px;
    height: 40px;
    margin: 10px 20px;
    padding: 0.5rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    text-indent: 5px;
}
.input-form3{
    width: 200px;
    height: 40px;
    margin: 10px 20px;
    padding: 0.5rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    text-indent: 5px;
}
.input-form4{
    resize: none;
    min-height: 300px;
    width: 95%;
    display: block;
    padding: 1rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px 20px;
    font-size: 16px;
}
.input-form1:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}
.input-form2:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}
.input-form3:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}
.input-form4:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}
.insert-select:focus{
    box-shadow: 0 0 0 0.1rem #eee;
}



.page-content{
    width: 1200px;
    margin: 0px auto;
}
.page-title{
    margin: 10px;
}
.page-title>h1{
    text-align: center;
    height: 150px;
    line-height: 150px;
}
.page-content-top{
    overflow: hidden;
    height: 100px;
}
.page-content-top>div:first-child{
    float: left;
    margin: 20px;
}
.page-content-top>div:last-child{
    float: right;
    margin: 20px;
}
.page-content-top>div:last-child>form{
    overflow: hidden;
}
.page-content-top>div:last-child>form>.input-form1{
    float: left;
    margin-right: 10px;
}
.page-content-top>div:last-child>form>.btn{
    float: left;
}
.page-content-mid{
    margin: 30px 0px;
}
.page-content-bottom{
    margin: 30px 0px;
}
.mid-list-wrap{
    overflow: hidden;
    margin-bottom: 10px;
}
.mid-list{
    width: calc((100% / 4) - 20px);
    margin: 10px;
    box-sizing: border-box;
    float: left;
}
.mid-list>a{
    display: block;
}
.mid-list>a:hover{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.list-img-box{
    text-align: center;
}
.list-img-box>img{
    width: 90%;
    padding-top: 10px;
    height: 200px;
}
.list-text-box{
    padding: 15px;
}
.list-text-box>ul{
    text-align: left;
}
.list-text-box>ul>li{
    width: 90%;
    margin: 10px auto;
    font-family: ns-light;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination>li{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.page-btn{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
.page-btn>span{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.select-page{
    background-color: rgb(1, 78, 200);
    color: #fff;
}

.insert-table{
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.insert-table tr{
    border-bottom: 1px solid #ccc;
}
.insert-table th{
    width: 210px;
    background-color: rgb(243, 244, 248);
}
.label-wrap{
    text-align: center;
}
.label-wrap>label{
    font-family: ns-medium;
    font-size: 18px;
}
.insert-table td{
    width: 990px;
}
.insert-select{
    width: 450px;
    height: 40px;
    font-size: 16px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    color: #1C2B2D;
    text-indent: 5px;
}
#facilityFile{
    padding: 1rem 1.5rem;
}
.btn-box{
    margin: 30px 0px;
    text-align: center;
}


.admin-page-select{
    width: 400px;
    margin: 20px auto;
    overflow: hidden;
}
.admin-page-select>li{
    margin: 0 auto;
    float: left;
    width: 200px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border: none;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
    color: #04909f;
    border: 2px solid rgb(1, 78, 200);
    cursor: pointer;
}
.admin-page-select>li.admin-page-active-tab{
    background-color: rgb(1, 78, 200);
    color: #fff;
    border: 2px solid rgb(1, 78, 200);    
}

.admin-tbl{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}
.admin-tbl tr{
    border-bottom: 1px solid #ccc;
}
.admin-tbl tr.admin-tbl-tr-btn{
    border: none;
}
.admin-tbl th{
    background-color: #eee;
    padding: 1rem 0.5rem;
}
.admin-tbl td{
    padding: 1rem 0.5rem;
    text-align: center;
}

.pay-content-wrap{
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
}
.product-box{
    width: 50%;
    float: left;
}
.pay-box{
    width: 50%;
    float: left;
}
.pay-img-box, .pay-name-box{
    width: 95%;
    margin: 50px auto;
    text-align: center;
}
.pay-img-box>img{
    width: 70%;
    padding: 1rem;
}
.pay-name-box>h3{
    width: 70%;
    padding: 1rem;
    margin: 50px auto;
}
.pay-box-tbl{
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}
.pay-box-tbl-th{
    width: 20%;
    padding: 1rem 0.5rem;
}
.pay-box-tbl-td{
    width: 90%;
    height: 200px;
    padding: 1rem 0.5rem;
    text-align: center;
}
.pay-box-tbl-td>div{
	overflow: hidden;
	width: 70%;
	margin: 0 auto;
}
.pay-pointer{
	font-size: 30px;
	line-height: 40px;
    height: 40px;
    float: left;
}
input[name=daterange]{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    float: left;
}


/**************헤더 영역*****************/

.header-top{
    width: 100%;
    border-bottom: 1px solid lightgray;
    text-align: center;
    overflow: hidden;
}
.logo{
width: 100%;
padding: 30px 0px 0px 0px;
text-align: center;
float: left;
}
.logo>a{
    text-decoration: none;
}
.logo>a>span{
    color: rgb(78, 146, 240);
    font-family: kotra-hope;
    font-size: 80px;
}
.header_login{
    float: right;
    padding: 0px 10px 10px 10px;
}

.header_signin{
    float: right;
    padding: 0px 10px 10px 10px;
}
.header_btn{
    width: 100px;
    font-size: 18px;
    font-weight: 550;
    border: none;
    background-color: rgb(1, 78, 200);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}

/****************헤더 내비 탭 영역******************/
.navi>ul{
    margin: 0 auto;
    padding: 0;
    width: 90%;
    overflow: hidden;
}
.navi>ul>li{
    list-style: none;
    float: left;
    width: 342px;
}
.navi>ul>li>a{
    display: block;
    text-align: center;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 19px;
    font-family: GangwonState;
    color: black;
}
.navi>ul>li:hover{
    background-color: rgb(1, 78, 200);
}
.navi>ul>li:hover>a{
    font-weight: 900;
    color:aliceblue;
    
}
/************헤더 서브 메뉴 탭 영역**************/
.sub{
    background-color: rgb(1, 78, 200);
	z-index: 1000;
    position: absolute;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 342px;
    overflow: hidden;
    display: none;
}
.sub>li{
    text-align: center;
}
.sub>li>a:hover{
	font-size:21px;
	background-color: rgb(78, 146, 240);
}
.sub>li>a{
    display: block;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-family: GangwonState;
}
.sub-a{
    color: aliceblue;
}
.sub>li>a:hover{
    font-weight: 900;
}
.navi>ul>li:hover>a+.sub{
    display: block;
}
/****************************************************/

.color-head{
	height: 240px;
	background: rgb(78,146,240);
background: linear-gradient(180deg, rgba(78,146,240,0.896796218487395) 0%, rgba(255,255,255,1) 100%);
}
.color-head>h1{
    text-align: center;
  	height: 150px;
  	line-height: 150px;
  	color: #fff;
  	font-size: 40px;
  	font-family: GangwonState;
}
