
.tab-wrap {
    width: 1200px;
    margin: 0 auto;
}

.tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.tabs>li {
    float: left;
    width: 240px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: rgb(158, 210, 220);
    color: #fff;
    cursor: pointer;
}

.tabs>li.active-tab {
    background-color: rgb(4, 144, 159);
    color: #fff;
}

.content-wrap {
    background-color: white;
}

.tabcontent {
    width: 95%;
    margin: 0 auto;
    padding: 30px 0px;
    display: none;
}

/*
.tabcontent.active-content{
    display: block;
}
*/

.input-form {
    width: 100%;
    display: block;
    padding: 0.8rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.updatebtn{
    background-color: #04909f;
    color: white;
    border-style: none;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;

}
/* 버튼 부분 추가 */
.memberbtn{
    background-color: rgb(158, 210, 220);
    color: white;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin:auto;
    margin-top: 20px;
    text-decoration: none;
    padding: 15px 25px;
}

td {
    overflow: hidden;
    border-collapse: collapse;
    box-sizing: border-box;

}


.booking-list>table {
    margin: 0 auto;
    border: 2px solid #cbcbcb;
    font-family: ns-m;
    border-collapse: collapse;

}

.booking-list>table th {
    border: 1px solid #cbcbcb;
    background-color: lightgray;

}

.booking-list>table td {
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
    height: 200px;

}

.booking-list>table:first-child>tr {
    text-align: center;

}

.booking-list>table tr {
    text-align: center;

}

.booking-list img {
    width: 200px;
}

.free-list>table {
    margin: 0 auto;
    font-family: ns-m;
    border-collapse: collapse;
}

.free-list>table th {
    background-color: lightgray;

}

.free-list>table td {
    border-bottom: 1px solid #cbcbcb;
    border-collapse: collapse;
    height: 40px;

}

.free-list>table tr {
    text-align: center;

}
/* qna */
.qnacontent ul{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.qnacontent ul>li>a{
    display: block;
    background-color: lightgray;
    color: white;
    font-size: 15px; 
    padding: 20px;
    border: 1px solid white;   
}

/* .a-list{
    display: none;
} */

.a-list>li>a{
    background-color: #383838;
    /* color: #DA4453; */

}
.qnacontent>ul>li:hover>a{
    background-color: rgb(158, 210, 220);
    color: white;
}

.a-list>li>a{
    display: block;
    background-color: #383838;
    color: white;
    text-align: left;
    text-decoration: none;
}

