.sel-search{
    float: left;
    width: 80px;
    height: 45px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

table th,
table td {
  padding: 1rem;
  text-align: center;
}


.btn1{
	text-align: center;
}


.notice-table{
	width: 100%;
	box-shadow: 3px 3px 3px #ccc;
    border-collapse: collapse;
}
.notice-table tr{
    border-bottom: 1px solid #ccc;
}
.notice-table th{
    width: 210px;
    background-color: rgb(243,244,248);
}

