
*{
    margin: 0;
    padding: 0;
    font-family: ns-medium;
    color: #1C2B2D;
}
.menu{
    padding: 70px;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;   
    width: 650px;
}

.input-form{
    height: 50px;
    width: 200px;
    margin-left: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
} 


.einput-form{
	display: inline-block;
   	height: 50px;
    outline: none;
    background-color: #fff;
   	border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.email-choice{
    height: 50px;
    width: 200px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}
#authBtn{
	background-color: lightgrey;
    color: white;
    border-style: none;
    width: 60px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
}
#authCode{
	display: inline-block;
   	height: 50px;
    outline: none;
    background-color: #fff;
   	border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
}
.memberbtn{
    background-color: lightgrey;
    color:white;
    border-style: none;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;

}
.content{
    width: 500px;
}
.content-agree{
    margin: auto;
    display: block;
    padding-top: 20px;
    
}

.agree-explain{
    height: 100px;
    border: 1px solid black;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 10px;
    font-size: 12px;
}
.btn-box{
    background-color: #04909f;
    color: white;
    border-style: none;
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin:auto;
    margin-top: 20px;
    display:block;
}
