.tour-title{
    font-size: 20px;
    margin: 30px 0;
    padding-left: 30px;
}
.tour-img{
    width: 660px;
    height: 440px;
    background-color: antiquewhite;
}
.tour-info{
    border-radius: 50px;
    background-color: aliceblue;
    width: 500px;
    height: 300px;
    padding: 50px;
    box-sizing: border-box;
}
.tour-info>*{
    padding: 10px;
}
/*  */
#map{
    width: 300px;
    height: 300px;
    background-color: blue;
}
.content-title{
    font-size: 18px;
    line-height: 24px;
    border-bottom: 2px solid rgb(216, 216, 216);
}
.content-detail{
    font-size: 16px;
    letter-spacing: -1px;
}
.wrap-flex{
    display: flex;
}
.flex-left{
    margin-left: auto;
}
.love{
    font-size: 30px;
}
.list{
    display: inline-block;
    width: 80px;
}
/*  */
.content-wrap{
    margin: 30px 0;
    box-sizing: content-box;
}

p{
    display: inline-block;
}
.icons{
    margin: 0px 10px;
}