<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main</title>
	<script src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../css/mung_main.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
	<a href="facility/tourDetail">tourDetail 이동</a>
	<a href="product/pay">pay로 이동</a>
	<th:block th:include="common/mung_header"></th:block>
	<div class="wrap"><!--전체를 감싸는 div-->
        <div class="wrap-top">
            <!-- 메인 페이지 Top영역 
                이미지 슬라이드 및 공지사항 검색창, 이미지 위 소개글 
            -->
            <span class="slideshow-container"><!--슬라이드 -->
                <div class="Slidesbackground">
                    <div class="mySlides fade">
                        
                        <img src="../img/main/댕댕이와 등산.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        
                        <img src="../img/main/댕댕이 헤엄.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        
                        <img src="../img/main/댕댕이 식사.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        
                        <img src="../img/main/노을 해변가 댕댕이.jpg" class="slideshow-image">
                    </div>
                </div>
            </span>
            <div class="top-mid"><!--공지사항 검색창 영역-->
                <div class="notice">
                    <div class="notice-text">
                        <span class="material-icons">campaign</span>
                        <span>공지사항</span>
                    </div>
                    <div class="notice-list">
                        <div class="notice-content">
                            <p>테스트</p>
                        </div>
                    </div>
                    
                    <div class="search">
                        <div class="search-icon">
                            <span class="material-icons">manage_search</span>
                        </div>
                        <div class="search-input">
                        
                            <input type="text" name="search" id="search" placeholder="지역명을 입력해주세요.">
                            <button type="submit" class="search-submit">검색하기</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="top-bottom"><!--소개이미지-->
            
                <div class="bottom-img">
                    <img src="../img/main/메인 화면 이미지.jpg">
                </div>
            </div>
        </div>
        <div class="wrap-mid">
 		<!-- 메인 페이지 middle영역 숙소,체험, 식음료, 관광지-->
 			 <div class="lodging">
                <div class="lodging-logo">
                    <div class="lodging-icon">
                        <span class="material-icons">cottage</span>
                    </div>
                    <div class="lodging-text">
                        <span>애견 동반 편안한 숙소</span>
                    </div>
                </div>
                <div id="slideShow">
                    <ul class="slides"> <!-- th:foreach 로 시설중 숙소 있는수만큼 반복되게 수정 -->
                      <li>
                        <a href="#">
                            <img src="img/main/테테스트.png"><!--시설중 숙소로 이미지 가져오기-->
                            <h2>숙소1</h2>
                            <span>주소 주소</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/main/테테스트.png"><!--시설중 숙소로 이미지 가져오기-->
                            <h2>숙소2</h2>
                            <span>주소 주소</span>
                        </a>
                    </li><li>
                        <a href="#">
                            <img src="img/main/테테스트.png"><!--시설중 숙소로 이미지 가져오기-->
                            <h2>숙소3</h2>
                            <span>주소 주소</span>
                        </a>
                    </li><li>
                        <a href="#">
                            <img src="img/main/테테스트.png"><!--시설중 숙소로 이미지 가져오기-->
                            <h2>숙소4</h2>
                            <span>주소 주소</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/main/테테스트.png"><!--시설중 숙소로 이미지 가져오기-->
                            <h2>숙소5</h2>
                            <span>주소 주소</span>
                        </a>
                    </li><li>
                        <a href="#">
                            <img src="img/main/테테스트.png"><!--시설중 숙소로 이미지 가져오기-->
                            <h2>숙소6</h2>
                            <span>주소 주소</span>
                        </a>
                    </li><li>
                        <a href="#">
                            <img src="img/main/테테스트.png"><!--시설중 숙소로 이미지 가져오기-->
                            <h2>숙소7</h2>
                            <span>주소 주소</span>
                        </a>
                    </li>
                    </ul>  
                    <p class="controller">
                      <!-- &lang: 왼쪽 방향 화살표
                      &rang: 오른쪽 방향 화살표 -->
                      <span class="prev">&lang;</span>  
                      <span class="next">&rang;</span>
                    </p>
                  </div>
            </div>
            <div class="mid-content">
                <div class="travel">
                    <div class="travel-logo">
                        <div class="travel-icon">
                            <span class="material-icons">explore</span>
                        </div>
                        <div class="travel-text">
                            <span>멍멍 명소 관광지</span>
                        </div>
                    </div>
                    <div id="slideShow2">
                        <ul class="slides2"> <!-- th:foreach 로 시설중 숙소 있는수만큼 반복되게 수정 -->
                        <li>
                            <a href="#">
                                <img src="img/main/4df35949efd9d681ba97979ce27c82cd616b58f7bf017e58d417ccb3283deeb3.png"><!--시설중 숙소로 이미지 가져오기-->
                                <h2>관광지</h2>
                                <span>주소 주소</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/main/4df35949efd9d681ba97979ce27c82cd616b58f7bf017e58d417ccb3283deeb3.png"><!--시설중 숙소로 이미지 가져오기-->
                                <h2>관광지</h2>
                                <span>주소 주소</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/main/4df35949efd9d681ba97979ce27c82cd616b58f7bf017e58d417ccb3283deeb3.png"><!--시설중 숙소로 이미지 가져오기-->
                                <h2>관광지</h2>
                                <span>주소 주소</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/main/4df35949efd9d681ba97979ce27c82cd616b58f7bf017e58d417ccb3283deeb3.png"><!--시설중 숙소로 이미지 가져오기-->
                                <h2>관광지</h2>
                                <span>주소 주소</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/main/4df35949efd9d681ba97979ce27c82cd616b58f7bf017e58d417ccb3283deeb3.png"><!--시설중 숙소로 이미지 가져오기-->
                                <h2>관광지</h2>
                                <span>주소 주소</span>
                            </a>
                        </li>

                        </ul>  
                        <p class="controller2">
                        <!-- &lang: 왼쪽 방향 화살표
                        &rang: 오른쪽 방향 화살표 -->
                        <span class="prev2">&lang;</span>  
                        <span class="next2">&rang;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap-bottom">
            <!-- 메인 페이지 bottom영역 동물병원 , 패키지 소개 및 댕댕이 자랑 슬라이드-->
        </div>
    </div>
	<th:block th:include="common/mung_footer"></th:block>
    <script src="../js/mung_main.js"></script>
</body>
</html>