<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>main</title>
	<script src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="../css/mung_main.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
	<th:block th:include="common/mung_header"></th:block>
	<div class="wrap"><!--전체를 감싸는 div-->
        <div class="wrap-top">
            <!-- 메인 페이지 Top영역 
                이미지 슬라이드 및 공지사항 검색창, 이미지 위 소개글 
            -->    
            <span class="slideshow-container">
                <div class="Slidesbackground">
                	<div class="mySlides fade">                    
                        <img src="../img/main/멍메인-1.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">                    
                        <img src="../img/main/멍메인-2.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">                    
                        <img src="../img/main/멍메인-3.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">                    
                        <img src="../img/main/멍메인-4.jpg" class="slideshow-image">
                    </div>
                </div>
            </span>
            
            <div class="top-mid"><!--공지사항 검색창 영역-->
                <div class="notice">
                    <div class="notice-text">
                        <span class="material-icons">campaign</span>
                        <span>공지사항</span>
                    </div>
                    <div class="notice-list">
                        <div class="notice-content">
                            <a id="noticeListView" th:href="@{/notice/view(noticeNo=${noticeList[0].noticeNo})}" th:text="${noticeList[0].noticeTitle}"></a>
                        </div>
                    </div>
                    
                    <div class="search">
                        <div class="search-icon">
                            <span class="material-icons">manage_search</span>
                        </div>
                        <div class="search-select">
                        <select name="searchType" class="sel-search">
                            <option value="">선택</option>
                            <option value="TourList">관광지</option>
                            <option value="HotelList">숙박</option>
                            <option value="CafeList">식음료</option>
                            <option value="ActivityList">체험</option>
                        </select>
                        </div>
                        <div class="search-input">
                            <form class="search-main">
                                <input type="hidden" name="reqPage" value="1">
                                <input type="text" name="searchName" id="searchName" placeholder="검색어를 입력해주세요.">
                                <button type="submit" class="search-submit">검색</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        <div class="wrap-mid">
 		<!-- 메인 페이지 middle영역 숙소,체험, 식음료, 관광지-->
 			 <div class="sa sa-up"><!-- 효과 넣는다면 여기? -->
                <div class="lodging-logo">
                	<a href="/facility/hotelList?reqPage=1">                
                    	<div class="lodging-icon">
                        	<span class="material-icons">cottage</span>
                    	</div>
                    	<div class="lodging-text">
                        	<span>애견 동반 추천 숙소</span>
                    	</div>
                	</a>
                </div>
                <div id="slideShow1">
                    <ul class="slides1"> <!-- th:foreach 로 시설중 숙소 있는수만큼 반복되게 수정 -->
                      <li th:each=" hotelList : ${hotelList}">
                        <a th:href="@{/facility/tourDetail(facilityNo=${hotelList.facilityNo})}">
                            <img th:src="${hotelList.facilityFilepath}" style="width: 320px; height: 320px;border-radius: 5%;"><!--시설중 숙소로 이미지 가져오기-->
                            <h3 th:text="${hotelList.facilityName}"></h3>
                        </a>
                    </li>
                    </ul>  
                    <p class="controller1">
                      <!-- &lang: 왼쪽 방향 화살표
                      &rang: 오른쪽 방향 화살표 -->
                      <span class="prev1">&lang;</span>  
                      <span class="next1">&rang;</span>
                    </p>
                  </div>
            </div>
            <div class="mid-content">
                <div class="sa sa-right"><!-- 효과 넣는다면 여기? -->
                    <div class="travel-logo">
                    <a href="/facility/tourList?reqPage=1">
                        <div class="travel-icon">
                            <span class="material-icons">explore</span>
                        </div>
                        <div class="travel-text">
                            <span>멍멍 명소 관광지</span>
                        </div>                    
                    </a>
                    </div>
                    <div id="slideShow2">
                        <ul class="slides2"> <!-- th:foreach 로 시설중 숙소 있는수만큼 반복되게 수정 -->
                        <li th:each=" tourList : ${tourList}">
                            <a th:href="@{/facility/tourDetail(facilityNo=${tourList.facilityNo})}">
                                <img th:src="${tourList.facilityFilepath}" style="width: 300px; height: 300px;"><!--시설중 숙소로 이미지 가져오기-->
                                <h3 th:text="${tourList.facilityName}"></h3>
                            </a>
                        </li>
                        </ul>  
                        <p class="controller2">
                        <!-- &lang: 왼쪽 방향 화살표
                        &rang: 오른쪽 방향 화살표 -->
                        <span class="prev2">&lang;</span>  
                        <span class="next2">&rang;</span>
                        </p>
                    </div>
                </div>
                <div class="sa sa-left">
                    <div class="pakage-logo">
                        <div class="pakage-icon">
                            <span class="material-icons">map</span>
                        </div>
                        <div class="pakage-text">
                            <span>신상 멍멍특가패키지 </span>
                        </div>
                    </div>
                    <div class="pakage-content">
                        <a th:href="@{/product/view(productNo=${productList[0].productNo})}">
                            <div class="pakage-img" >
                                <img th:src="'/productmain/'+${productList[0].productFilepath}">
                            </div>
                        </a>
                    </div>
                </div><!-- 효과 넣는다면 여기? -->
            </div>
        </div>
        <div class="wrap-bottom">
            <!-- 메인 페이지 bottom영역 동물병원 , 패키지 소개 및 댕댕이 자랑 슬라이드-->
            <div class="sa sa-down"><!-- 효과 넣는다면 여기? -->
                <div class="mung-logo">
                    <a href="/board/list?reqPage=1">
                        <div class="mung-icon">
                            <span class="material-icons">pets</span>
                        </div>
                        <div class="mung-text">
                            <span>우리 멍멍이 자랑  </span>
                        </div>
                    </a>
                </div>
                <div class="mung-content">
                    <ul > <!-- th:foreach 로 시설중 숙소 있는수만큼 반복되게 수정 -->
                        <li>
                            <a th:href="@{/board/view(boardNo=${boardList[0].boardNo})}">
                                <img th:src="'/boardmain/'+${boardList[0].boardFilepath}">
                                <h3 th:text="${boardList[0].boardTitle}"></h3>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/board/view(boardNo=${boardList[1].boardNo})}">
                                <img th:src="'/boardmain/'+${boardList[1].boardFilepath}"><!--시설중 숙소로 이미지 가져오기-->
                                <h3 th:text="${boardList[1].boardTitle}"></h3>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/board/view(boardNo=${boardList[2].boardNo})}">
                                <img th:src="'/boardmain/'+${boardList[2].boardFilepath}"><!--시설중 숙소로 이미지 가져오기-->
                                <h3 th:text="${boardList[2].boardTitle}"></h3>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/board/view(boardNo=${boardList[3].boardNo})}">
                                <img th:src="'/boardmain/'+${boardList[3].boardFilepath}"><!--시설중 숙소로 이미지 가져오기-->
                                <h3 th:text="${boardList[3].boardTitle}"></h3>
                            </a>
                        </li>
                    </ul>  
                </div>
            </div>
            <div class="sa sa-scaleUp"><!-- 효과 넣는다면 여기? -->
                <div class="eat-logo">
                    <a href="/facility/cafeList?reqPage=1">
                        <div class="eat-icon">
                            <span class="material-icons">pets</span>
                        </div>
                        <div class="eat-text">
                            <span>멍멍 식당 카페 </span>
                        </div>
                    </a>
                </div>
                <span class="slideshow-container2"><!--슬라이드 -->
                    <div class="Slidesbackground2">
                        <div class="mySlides2 fade" th:each=" cafeList : ${cafeList}">
                            <a th:href="@{/facility/tourDetail(facilityNo=${cafeList.facilityNo})}">
                            	<img th:src="${cafeList.facilityFilepath}" class="slideshow-image2">                            
                            </a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
	<th:block th:include="common/mung_footer"></th:block>
    <script src="../js/mung_main.js"></script>
                         <script>
				            // 제이쿼리 change 함수
				            $(".sel-search").change(function(){
				                
				                if($(this).val() == "TourList"){
				                	$(".search-main").attr("action","/facility/searchTourList")
				                } else if($(this).val() == "HotelList"){
				                	$(".search-main").attr("action","/facility/searchHotelList")
				                } else if($(this).val() == "CafeList"){
				                	$(".search-main").attr("action","/facility/searchCafeList")
				                } else if($(this).val() == "ActivityList"){
				                	$(".search-main").attr("action","/facility/searchActivityList")
				                }
				            });
				            const saTriggerMargin = 300;
				            const saElementList = document.querySelectorAll('.sa');

				            const saFunc = function() {
				              for (const element of saElementList) {
				                if (!element.classList.contains('show')) {
				                  if (window.innerHeight > element.getBoundingClientRect().top + saTriggerMargin) {
				                    element.classList.add('show');
				                  }
				                }
				              }
				            }

				            window.addEventListener('load', saFunc);
				            window.addEventListener('scroll', saFunc);
				        </script>
</body>
</html>