<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>기본 디자인</title>
        <link rel="stylesheet" href="/css/default.css"/>
        <style>
            .flex-wrap{
                display: flex;
                flex-wrap: wrap;
            }
            .flex-wrap > div {
                margin-right: 20px;
            }
            .bg{
                color: #fff;
            }
        </style>
    </head>
    <body>
        <header></header>
        <div class="page-content">
            <div class="flex-wrap">
                <div>
                    <h2>폰트</h2>
                    <div class="f-title">가나다 abc ABC 0123</div>
                </div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>