<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Q&A 상세보기</title>
<link rel="stylesheet" href="../css/qnaList.css">

</head>
<body>
<th:block th:include="common/mung_header"></th:block>
    <div class="page-content">
        <div class="page-title">
        	<h1>Q&A</h1>
        </div>
        <div class="page-content-mid">
        <table class="insert-table">
            <tr>
            	<th>문의유형</th>
                <td colspan="1" th:text="${q.qnaCase}"></td>
            	<th>제목</th>
                <td colspan="4" th:text="${q.qnaTitle}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${q.memberId}"></td>
                <th>작성일</th>
                <td th:text="${q.qnaWriteDate}"></td>
                 <th>답변상태</th>
                <td th:text="${q.qnaAnswerCase}"></td>
            </tr>
            <tr>
               	<td colspan="6">
				<div class="noticeContent" th:utext="${q.qnaContent}"></div>
            	</td>
            </tr>
        </table>
        </div>
        <div class="btn1">
        	<a href="/qna/list?reqPage=1" class="btn bc1"  style="float: right;">목록</a>
        </div>
        <div class="btn1" style="height: 70px" th:if="${session.m != null && session.m.memberNo == q.qnaWriter}">
	        <a th:href="@{/qna/updateFrm(qnaNo=${q.qnaNo})}" class="btn bc1">수정하기</a>
	        <a th:href="@{/qna/delete(qnaNo=${q.qnaNo})}" onClick="alert('게시글을 삭제하시겠습니까?')" class="btn bc1">삭제하기</a>
		</div>
		<!-- 댓글입력 -->
		<div class="inputCommentBox" th:if="${session.m != null}" style="width: 100%; margin: 0">
			<form action="/board/insertComment" method="post">
				<ul>
					<li>
						<img alt="" src="../img/answer.png" style="width: 100%">
					</li>
					<li style="width: 100%">
						<input type="hidden" name="boardCommentWriter" th:value="${session.m.memberNo}">
						<input type="hidden" name="boardNo">
						<textarea name="boardCommentContent"  class="input-form" id="boardCommentContent"></textarea>
					</li>
				</ul>					
						<button type="submit" class="btn bc1" id="commentBtn">등록</button>
			</form>
		</div>
    </div>
    <th:block th:include="common/mung_footer"></th:block>
</body>
</html>